<head><title> {{ 'pageTitleFeed' | translate}}</title></head>

<div class="row sep-nav">
  <div class="col-1"></div>
  <div ng-if="!loading" class="col-11">
    <pagination></pagination>
  </div>
</div>

<div ng-show="!loading" class="sidenav sidenav-feed">
  <div class="form-row align-items-center">
    <ng-form name="filterForm">
      <div class="container">

        <div class="row field">
          <div class="col-">
            <img src="images/lupa_bv.png" class="icon-img" width="38px">
          </div>
          <div class="col-md" ng-class="{'has-error': filterForm.search.$touched && filterForm.search.$invalid}">
            <input style="color: black !important;" name="search" id="keyword" class="form-control mr-sm-2" type="text" placeholder="{{ 'search' | translate }}" aria-label="Search"
                   ng-model="searchField" ng-maxlength="{{feedSearchMaxLength}}" ng-keyup="$event.keyCode == 13 && !filterForm.$invalid && applyFilter()"/>
          </div>
        </div>
        <div class="row field">
          <div class="col- icon-img"></div>
          <div class="col-md">
            <select ng-model="field" class="custom-select mr-sm-2"
                    ng-options="option as option.name | translate for option in fields track by option.id"></select>
          </div>
        </div>

        <div class="dropdown-divider drop-feed"></div>

        <div class="row field">
          <div class="col-">
            <img src="images/filter.png" class="icon-img" width="38px">
          </div>
          <div class="col-md">
            <select ng-model="category" class="custom-select mr-sm-2"
                    ng-options="option as option.name | translate for option in categories track by option.id"></select>
          </div>

        </div>
        <div class="row field">
          <div class="col-">
            <img src="images/order.png" class="icon-img">
          </div>
          <div class="col-md">
            <select ng-model="order" class="custom-select mr-sm-2"
                    ng-options="option as option.name | translate for option in orders track by option.id"></select>
          </div>
        </div>
        <div class="row field">
          <label class="range">{{'range' | translate}} </label>
          <div>
            <div class="row range-box col-md" ng-class="{'has-error': filterForm.minCost.$touched && filterForm.minCost.$invalid}">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">{{'min' | translate}}</span>
                </div>
                <input style="color: black !important;" name="minCost" ng-model="minCost" type="number" class="form-control mx-auto mx-auto" placeholder="{{projectFundingMin}}" id="filter-form-min"
                       min="0" max="{{projectFundingMax}}" step="1" no-float pattern="^[0-9]+"/>
              </div>
              <!--<form:errors path="minCost" element="p" cssClass="formError"/> -->
            </div>
            <div class="row range-box col-md" ng-class="{'has-error': filterForm.maxCost.$touched && filterForm.maxCost.$invalid}">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">{{'max' | translate}}</span>
                </div>
                <input style="color: black !important;" name="maxCost" ng-model="maxCost" type="number" class="form-control mx-auto mx-auto" placeholder="{{projectFundingMax}}"
                            id="filter-form-max" min="0" max="{{projectFundingMax}}" step="1" no-float pattern="^[0-9]+"/>
              </div>
              <label class="formError" ng-if="costRangeError">{{'costRangeRequirement' | translate}}</label>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="range2">{{'percFilter' | translate}} </label>
          <div class="row">
            <div class="range-box2 col-md" ng-class="{'has-error': filterForm.minPercentage.$touched && filterForm.minPercentage.$invalid}">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">{{'min' | translate}}</span>
                </div>
                <input style="color: black !important;" name="minPercentage" ng-model="minPercentage" type="number" class="form-control mx-auto mx-auto" placeholder="0"
                       min="0" max="100" step="1" no-float pattern="^[0-9]+"/>
                <span style="font-size:14px !important;  padding: 0 !important; margin: auto !important">%</span>
              </div>
            </div>
            <div class="range-box2 col-md" ng-class="{'has-error': filterForm.maxPercentage.$touched && filterForm.maxPercentage.$invalid}">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">{{'max' | translate}}</span>
                </div>
                <input style="color: black !important;" name="maxPercentage" ng-model="maxPercentage" type="number" class="form-control mx-auto mx-auto" placeholder="100"
                       min="0" max="100" step="1" no-float pattern="^[0-9]+"/>
                <span style="font-size:14px !important;  padding: 0 !important; margin: auto !important">%</span>
              </div>
            </div>
          </div>
          <label class="formError" ng-if="percentageRangeError">{{'percentageRangeRequirement' | translate}}</label>
        </div>
        <div class="row">
          <div class="col-6 clear-btn">
            <input class="btn btn-clear pull-left" type="button" value="{{'clear' | translate}}" ng-click="clearFilter()"/>
          </div>
          <div class="col-6 apply-btn">
            <input type="submit" class="btn btn-dark pull-right" value="{{'apply' | translate}}"
                   ng-click="applyFilter()" ng-disabled="filterForm.$invalid"/>
          </div>
        </div>
      </div>
    </ng-form>
  </div>

  <p class="results">{{'feedSearchPages' | translate : {found: lastPage, shown: page} }}</p>

</div>

<!-- PROJECTS -->
  <div class="body fid" ng-if="!noProjectsFound">
    <div ng-if="loading && !safari()" class="spinner-grow text-dark" role="status" style="margin-left: 51%; margin-top:200px; width: 5rem; height: 5rem;"></div>
    <div ng-if="loading && safari()" class="spinner-border text-dark" role="status" style="margin-left: 51%; margin-top:200px; width: 3rem; height: 3rem;"></div>
    <div class="card-deck">
        <div class="card mb-3 card-feed" ng-repeat="project in projects">
          <div class="card-header text-white">
            <div class="row icon-fav">
              <div class="col-10">
                <div class="card-title">
                  <a href="#/projects/{{project.id}}">
                    <h5>{{project.name}}</h5>
                  </a>
                </div>
              </div>
              <div class="col-2">
                <div ng-if="isInvestor">
                  <button ng-click="favTap(project.id)"
                          class="btn-transp">
                    <div ng-if="containsFav(project.id)">
                      <img ng-src="images/bookmarkOnB.png" class="icon-fav-img" alt="{{'imgFav' | translate}}"/>
                    </div>
                    <div ng-if="!containsFav(project.id)">
                      <img  ng-src="images/bookmarkOffB.png" class="icon-fav-img" alt="{{'imgFav' | translate}}"/>
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body feed-body clickable-element" ng-click="goToProject(project.id)">
            <div class="row">
              <div class="col-5">
                <div ng-if="!project.portraitExists">
                  <a href="#/projects/{{project.id}}">
                  <img ng-src="images/projectNoImage.png" class="proj-img" alt="{{'projectImage' | translate}}" aria-placeholder="{{'projectImage' | translate}}"/>
                  </a>
                </div>
                <div ng-if="project.portraitExists">
                  <a href="#/projects/{{project.id}}">
                  <img ng-src="data:image/JPEG;base64,{{project.image}}" class="proj-img" alt="{{'projectImage' | translate}}" aria-placeholder="{{'projectImage' | translate}}"/>
                  </a>
                </div>
              </div>
              <div class="col-7 card-content">
                <p class="card-text" style="display: -webkit-box">{{project.summary}}</p>
              </div>
            </div>
          </div>
          <div class="card-footer feed-footer clickable-element" ng-click="goToProject(project.id)">
              <div class="price-footer">
                <h4 style="text-align: center">
                  {{formatPrice(project.fundingCurrent)}} {{'of' | translate }} <b>{{formatPrice(project.fundingTarget)}}</b></h4>
                <div class="progress" style="height: 12px; margin: 0 25px 0 25px;">
                  <div class="progress-bar progress-bar-striped progress-bar-animated my-bar" role="progressbar" style="width: {{(project.fundingCurrent/project.fundingTarget)*100}}%" aria-valuenow="{{(project.fundingCurrent/project.fundingTarget)*100}}" aria-valuemin="0" aria-valuemax="100">
                    <b ng-if="hideornot(project.fundingCurrent, project.fundingTarget)">{{toInt((project.fundingCurrent/project.fundingTarget)*100)}}%</b>
                  </div>
                </div>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div ng-if="noProjectsFound">
    <div class="card-deck" style="height: 500px">
      <div class="card m-2 no-proj-feed">
        <div class="card-header">
          <h5 class="card-title text-white">{{'noProjFound' | translate}}</h5>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="!noProjectsFound && projects.length <= 3">
    <div class="card-deck" style="height: 220px;">
      <p></p>
    </div>
  </div>

  <div class="row">
    <div class="col-1"></div>
    <div ng-if="!loading" class="col-11">
      <pagination></pagination>
    </div>
  </div>


