<head><title>{{ 'pageTitleMyMessages' | translate}}</title></head>

<!--<vnheader></vnheader>-->

<div class="row sep-nav">
  <div class="col-1"></div>
  <div class="col-10" ng-show="lastPage !== 1">
    <pagination></pagination>
  </div>
  <div class="col-1"></div>
</div>

<!-- TODO: Ajustar el css de esto -->
<div class="dashboard" ng-if="!noMessagesFound">
  <div class="card-group" ng-repeat="message in messages">
    <span class="anchor-header"></span>
    <div class="container py-3">
      <div class="card msg ww">

        <div class="row">
          <div class="col-1">
            <div ng-if="!message.projectPortraitExists">
              <img ng-src="images/userNoImage.png" class="ww-img" alt="{{'projectImage' | translate}}" aria-placeholder="{{'projectImage' | translate}}"/>
            </div>
            <div ng-if="message.projectPortraitExists">
              <img ng-src="data:image/JPEG;base64,{{message.projectImage}}" class="ww-img" alt="{{'projectImage' | translate}}" aria-placeholder="{{'projectImage' | translate}}"/>
            </div>
          </div>
          <div class="col-md-11 ww-content">
            <div class="card-block">
              <div class="row">
                <div class="col-3">
                  <a ng-href="#{{message.projectUrl}}" class="btn-link4">
                    <h5>{{message.projectName}}</h5>
                  </a>
<!--                  <h6 style="color: rgba(99, 99, 99, 0.74)">- {{'from' | translate}} <a ng-href="#{{message.projectUrl}}" class="btn-link3">{{'fullName' | translate : { firstName: message.ownerFirstName, lastName: message.ownerLastName } }}</a></h6>-->
                </div>
                <div class="col-7 ww-last">
                  <h6>{{message.publishDate}}</h6>
                  <div class="row">
                    <div class="col-4 msg-offer">
                      <img src="images/down-arrow.png" alt="">
                      <strong>{{message.offer}}</strong>
                    </div>
                    <div class="col-8 msg-exch">
                      <img src="images/up-arrow.png" alt="">
                      <strong> {{message.exchange}}</strong>
                    </div>
                  </div>
                  <p>{{message.comment}}</p>
                </div>
                <div class="col-1 ww-last">
                  <span ng-if="!message.seen && !message.direction" class="badge bg-danger pull-right">1</span>
                </div>
                <div class="col-1 ww-last">
                  <a ng-click="goToChat(message)" class="btn btn-inv pull-right" style="margin: auto">
                    <img src="/images/black-arrow.png" alt="">
                  </a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

<div ng-if="noMessagesFound" class="card no-proj-mine">
  <div class="card-header text-center">
    <h5 class="card-title text-white centered">{{'nomessages' | translate }}</h5>
  </div>
</div>

<!--<footer>-->
<!--  <vnfooter></vnfooter>-->
<!--</footer>-->
