<head><title>{{ 'pageTitleMyMessages' | translate}}</title></head>

<!--<vnheader></vnheader>-->

<div class="row sep-nav">
  <div class="col-3 center-vertical">
      <strong class="tab-title"> {{'hmessages' | translate}} </strong>
  </div>
  <div class="col-6" ng-show="!loading">
    <pagination></pagination>
  </div>
  <div class="col-3"></div>
</div>

<div class="text-center" ng-if="loading && !safari()">
  <div class="spinner-grow text-dark loading-grow" role="status" style="margin-top: 10px"></div>
</div>
<div class="text-center" ng-if="loading && safari()">
  <div class="spinner-border text-dark" role="status" style="margin-left: 51%; margin-top:200px; width: 3rem; height: 3rem;"></div>
</div>

<div class="dashboard" ng-if="!noMessagesFound && !loading">
  <div class="card-group" ng-repeat="message in messages">
    <span class="anchor-header"></span>
    <div class="container py-3">
      <div class="card msg ww">

        <div class="row">
          <div class="col-1">
            <div ng-if="!message.projectPortraitExists">
              <a ng-href="#{{message.projectUrl}}">
                <img ng-src="images/projectNoImage.png" class="ww-img" alt="{{'projectImage' | translate}}" aria-placeholder="{{'projectImage' | translate}}"/>
              </a>
            </div>
            <div ng-if="message.projectPortraitExists">
              <a ng-href="#{{message.projectUrl}}">
                <img ng-src="data:image/JPEG;base64,{{message.projectImage}}" class="ww-img" alt="{{'projectImage' | translate}}" aria-placeholder="{{'projectImage' | translate}}"/>
              </a>
            </div>
          </div>
          <div class="col-md-11 ww-content">
            <div class="card-block">
              <div class="row">
                <div class="col-4 ww-last">
                  <a ng-href="#{{message.projectUrl}}" class="btn-link4">
                    <h5 class="cut-text">{{message.projectName}}</h5>
                  </a>
                </div>
                <div class="col-6 ww-last clickable-element" ng-click="goToChat(message)">
                  <h6>{{toLocaleDateTimeString(message.publishDate)}}</h6>
                  <div class="row">
                    <div class="col-4 msg-offer cut-text">
                      <img src="images/down-arrow.png" alt="">
                      {{message.offer}}
                    </div>
                    <div class="col-8 msg-exch cut-text">
                      <img src="images/up-arrow.png" alt="">
                      {{message.exchange}}
                    </div>
                  </div>
<!--                  <p>{{message.comment}}</p>-->
                </div>
                <div class="col-1 ww-last">
                  <span ng-if="message.notification" style="color:transparent; border-radius: 50%" class="badge bg-danger pull-right">1</span>
                </div>
                <div class="col-1 ww-last">
                  <a ng-click="goToChat(message)" class="btn btn-inv pull-right" style="margin: auto">
                    <img src="images/black-arrow.png" alt="">
                  </a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

<div ng-if="noMessagesFound" class="card no-proj-mine">
  <div class="card-header text-center">
    <h5 class="card-title text-white centered">{{'nomessages' | translate }}</h5>
  </div>
</div>

<!--<footer>-->
<!--  <vnfooter></vnfooter>-->
<!--</footer>-->
