<head><title> {{ 'wppweb' | translate}} | VestNet</title></head>

<body ng-controller="messagesCtrl">
<!--<vnheader></vnheader>-->

<div class="dashboard sep-nav2">
  <div class="card-group" ng-repeat="message in messages">
    <span class="anchor-header" id="dashboard-project-{{message.pid}}"></span>
    <div class="container py-3">
      <div class="card msg ww">

        <div class="row">
          <div class="col-1">
            <img src="{{message.image}}" class="ww-img"/>
          </div>
          <div class="col-md-11 ww-content">
            <div class="card-block">
              <div class="row">
                <div class="col-3">
                  <a ng-href="#/users/{{message.uid}}" class="btn-link4"><h5>{{message.user}}</h5></a>
                  <h6 style="color: rgba(99, 99, 99, 0.74)">- {{'from' | translate}} <a ng-href="#/projects/{{message.pid}}" class="btn-link3">{{message.project}}</a></h6>
                </div>
                <div class="col-7 ww-last">
                  <h6>{{message.date}}</h6>
                  <p>{{message.last}}</p>
                </div>
                <div class="col-1 ww-last">
                  <span ng-if="message.unread != 0" class="badge bg-danger pull-right">{{message.unread}}</span>
                </div>
                <div class="col-1 ww-last">
                  <a ng-href="#/chat/1/2" class="btn btn-inv pull-right" style="margin: auto">
                    <img src="/images/black-arrow.png" alt="">
                  </a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

<div ng-if="projects.empty()" class="card no-proj-mine">
  <div class="card-header text-center">
    <div ng-switch="true">
      <div ng-switch-when="true">
        <h5 class="card-title text-white centered">{{'noProjFunded' | translate }}</h5>
      </div>
      <div ng-switch-when="false">
        <h5 class="card-title text-white centered">{{'noProjOwned' | translate }}</h5>
      </div>
    </div>
  </div>
</div>

</body>

<!--<footer>-->
<!--  <vnfooter></vnfooter>-->
<!--</footer>-->
