<!--<head>-->
<!--  &lt;!&ndash; build:css(.tmp) styles/userprofile.css &ndash;&gt;-->
<!--  <link rel="stylesheet" href="styles/userprofile.css">-->
<!--  &lt;!&ndash; endbuild &ndash;&gt;-->
<!--  &lt;!&ndash; build:css(.tmp) styles/feed.css &ndash;&gt;-->
<!--  <link rel="stylesheet" href="styles/feed.css">-->
<!--  &lt;!&ndash; endbuild &ndash;&gt;-->
<!--</head>-->
<head><title> {{ 'myinvestments' | translate}} | VestNet</title></head>

<!--<vnheader></vnheader>-->

<div class="row sep-nav">
  <div class="col-3 center-vertical">
    <strong class="tab-title"> {{'reqTitle' | translate}} </strong>
  </div>
  <div class="col-6" ng-if="lastPage !== 1">
    <pagination></pagination>
<!--    <ul class="pagination justify-content-center">-->
<!--      <div ng-if="(page - 1) >= 1">-->
<!--        <li id="li-previous" class="page-item">-->
<!--          <a id="li-a-previous" class="page-link" ng-click="getToPage(page - 1)" aria-label="{{'previousPage' | translate}}">-->
<!--            <span aria-hidden="true">&laquo;</span>-->
<!--          </a>-->
<!--        </li>-->
<!--      </div>-->
<!--      <div ng-if="(page - 1) >= 1">-->
<!--        <li id="li-previous-num" class="page-item">-->
<!--          <a id="li-a-previous-num" class="page-link" ng-click="getToPage(page - 1)" aria-label="{{'pageNumber' | translate : {p: page - 1} }}">{{page -1}}</a>-->
<!--        </li>-->
<!--      </div>-->
<!--      <li id="li-now" class="page-item">-->
<!--        <a id="li-a-now" class="page-link" onclick="" aria-label="{{'pageNumber' | translate : {p: page} }}">{{page}}</a>-->
<!--      </li>-->
<!--      <div ng-if="(page + 1) <= lastPage">-->
<!--        <li id="li-next-num" class="page-item">-->
<!--          <a id="li-a-next-num" class="page-link" ng-click="getToPage(page + 1)" aria-label="{{'pageNumber' | translate : {p: page + 1} }}">{{page + 1}}</a>-->
<!--        </li>-->
<!--      </div>-->
<!--      <div ng-if="(page + 1) <= lastPage">-->
<!--        <li id="li-next" class="page-item">-->
<!--          <a id="li-a-next" class="page-link" ng-click="getToPage(page + 1)" aria-label="{{'nextPage' | translate}}">-->
<!--            <span aria-hidden="true">&raquo;</span>-->
<!--          </a>-->
<!--        </li>-->
<!--      </div>-->
<!--    </ul>-->
  </div>
  <div class="col-3"></div>
</div>

<!--<div ng-repeat="message in messages">-->
<!--  <span class="anchor-header" id="dashboard-project-{{message.pid}}"></span>-->
<!--  <div class="container-deal py-3">-->
<!--    <div class="card">-->

<!--      <div class="card-header header-grey">-->
<!--        <a ng-href="#/projects/{{message.pid}}" class="btn-link">{{message.project.name}}</a>-->
<!--        <a ng-href="#/users/{{message.receiverId}}" class="btn msg-usr pull-right">-->
<!--          &lt;!&ndash;            TODO: ?back=yes"&ndash;&gt;-->
<!--          <img class="nav-icon" src="images/user-icon.png" alt="">-->
<!--        </a>-->
<!--      </div>-->

<!--      <div class="card-deal row">-->
<!--        <div class="col-6">-->
<!--          <strong> {{'msgTitleBody' | translate}} </strong>-->
<!--          <p> {{message.content.message}}</p>-->
<!--        </div>-->
<!--        <div class="col-6">-->
<!--          <strong>{{'msgTitleOffer' | translate}} </strong>-->
<!--          <p>{{message.content.offer}}</p>-->
<!--          <strong>{{'msgTitleRequest' | translate}} </strong>-->
<!--          <p>{{message.content.interest}}</p>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="row dr-footer">-->
<!--      <div class="col-3" ng-switch="{{message.state}}">-->
<!--&lt;!&ndash;        <strong>{{'state' | translate}} </strong>&ndash;&gt;-->
<!--        <div ng-switch-when="1">-->
<!--          <h3 class="state text-secondary">{{'pending' | translate}}</h3>-->
<!--        </div>-->
<!--        <div ng-switch-when="0">-->
<!--          <h3 class="state text-success">{{'accepted' | translate}}</h3>-->
<!--        </div>-->
<!--        <div ng-switch-when="2">-->
<!--          <h3 class="state text-danger">{{'rejected' | translate}}</h3>-->
<!--        </div>-->
<!--      </div>-->
<!--        <div class="col-7"></div>-->
<!--      <p class="col-2 msg-date">{{message.publishDate}}</p>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->

  <div class="row text-center">
    <div class="col">
      <div class="counter">
<!--        <i class="fa fa-usd fa-2x"></i>-->
        <img src="images/invest-icon.png" style="width: 50px; height: auto">
        <h2 class="timer count-title count-number" data-to="100" data-speed="1500"><div id="invested">0</div></h2>
        <p class="count-text ">{{'totalinv' | translate}}</p>
      </div>
    </div>
  </div>

<!--<button ng-click="animate('invested', 0, 2500, 1000)">TRIAL</button>-->
<!-- TODO: Ajustar el css de esto -->
  <span class="anchor-header"></span>
  <div class="card-deck group-invest" ng-if="!noDealsFound">
    <div class="card card-invest" ng-repeat="message in messages">
      <div class="card-header header-grey">
        <a ng-href="#{{message.projectUrl}}" class="btn-link">{{message.projectName}}</a>
        <a ng-href="#{{message.ownerUrl}}" class="btn msg-usr pull-right">
          <!--            TODO: ?back=yes"-->
          <img class="nav-icon" src="images/user-icon.png" alt="">
        </a>
      </div>
      <div ng-if="!message.projectPortraitExists">
        <img ng-src="images/projectNoImage.png" class="img-invest" alt="{{'projectImage' | translate}}" aria-placeholder="{{'projectImage' | translate}}"/>
      </div>
      <div ng-if="message.projectPortraitExists">
        <img ng-src="data:image/JPEG;base64,{{message.projectImage}}" class="img-invest" alt="{{'projectImage' | translate}}" aria-placeholder="{{'projectImage' | translate}}"/>
      </div>
      <div class="card-deal row">
        <div class="col-4 msg-offer">
          <img src="images/down-arrow.png" alt="">
          <strong>{{message.offer}}</strong>
        </div>
        <div class="col-8 msg-exch">
          <img src="images/up-arrow.png" alt="">
          <strong> {{message.exchange}}</strong>
        </div>
      </div>

      <div class="dr-footer">
        <p class="msg-date pull-right">{{message.publishDate}}</p>
      </div>

    </div>
  </div>
</div>

<div ng-if="noDealsFound" class="card no-proj-mine">
  <div class="card-header">
    <h5 class="card-title text-white centered">{{'noProjFunded' | translate}}</h5>
  </div>
</div>

<!--<footer>-->
<!--  <vnfooter></vnfooter>-->
<!--</footer>-->
