
<head><title>{{ 'pageTitleMyInvestments' | translate}}</title></head>

<div class="row sep-nav">
  <div class="col-3 center-vertical">
    <strong class="tab-title"> {{'reqTitle' | translate}} </strong>
  </div>
  <div class="col-6" ng-show="!loading">
    <pagination></pagination>
  </div>
  <div class="col-3"></div>
</div>

  <div class="row text-center">
    <div class="col">
      <div class="counter">
        <img src="images/invest-icon.png" style="width: 50px; height: auto">
        <h2 class="timer count-title count-number" data-to="100" data-speed="1500"><div id="invested">0</div></h2>
        <p class="count-text ">{{'totalinv' | translate}}</p>
      </div>
    </div>
  </div>

  <span class="anchor-header"></span>
  <div class="text-center" ng-if="loading">
    <div ng-if="!safari()" class="spinner-grow text-dark loading-grow" role="status" style="margin-top:10px;"></div>
    <div ng-if="safari()" class="spinner-border text-dark loading-border" role="status" style="margin-top:10px;"></div>
  </div>
  <div class="card-group group-invest" ng-if="!noDealsFound">
    <div class="card card-invest" ng-repeat="message in messages">
      <div class="card-header header-grey">
        <a ng-href="#{{message.projectUrl}}" class="btn-link">{{message.projectName}}</a>
        <a ng-href="#{{message.ownerUrl}}" class="btn msg-usr pull-right">
          <img class="nav-icon" src="images/user-icon.png" alt="">
        </a>
      </div>
      <div ng-if="!message.projectPortraitExists">
        <a href="#{{message.projectUrl}}">
          <img ng-src="images/projectNoImage.png" class="img-invest" alt="{{'projectImage' | translate}}" aria-placeholder="{{'projectImage' | translate}}"/>
        </a>
      </div>
      <div ng-if="message.projectPortraitExists">
        <a href="#{{message.projectUrl}}">
          <img ng-src="data:image/JPEG;base64,{{message.projectImage}}" class="img-invest" alt="{{'projectImage' | translate}}" aria-placeholder="{{'projectImage' | translate}}"/>
        </a>
      </div>
      <div class="card-deal row">
        <div class="col-4 msg-offer">
          <img src="images/down-arrow.png" alt="">
          <strong>{{message.offer}}</strong>
        </div>
        <div class="col-8 msg-exch">
          <img src="images/up-arrow.png" alt="">
          <strong> {{message.exchange}}</strong>
        </div>
      </div>

      <div class="dr-footer">
        <p class="msg-date pull-right">{{toLocaleDateString(message.publishDate)}}</p>
      </div>

    </div>
  </div>
</div>

<div ng-if="noDealsFound" class="card no-proj-mine">
  <div class="card-header">
    <h5 class="card-title text-white centered">{{'noProjFunded' | translate}}</h5>
  </div>
</div>
