<!--<head>-->
<!--  &lt;!&ndash; build:css(.tmp) styles/signin.css &ndash;&gt;-->
<!--  <link rel="stylesheet" href="styles/signin.css">-->
<!--  &lt;!&ndash; endbuild &ndash;&gt;-->
<!--</head>-->

<body ng-controller="requestPasswordCtrl">

<div class="sidenav sidenav-index">
  <div class="text-center mt-5">
    <a ng-href="/">
      <img class="logo-img" src="images/logo_bp.png">
    </a>
  </div>
</div>

<div class="main">
  <div class="col-md-8">
    <div class="login-form">
      <div class="row back-req">
        <a ng-href="/#/login" class="btn btn-outline-dark pull-left">{{'back' | translate}}</a>
      </div>
      <ng-form ng-submit="" name="reqPasswordForm">
        <h4>{{'requestPasswordTitle' | translate}}</h4>
        <p>{{'requestPasswordSubtitle' | translate}}</p>
        <div class="form-group">
          <label>{{'email' | translate}}</label>
          <input name="username" class="form-control" placeholder="{{'enterEmail' | translate}}"/>
        </div>
        <div class="row justify-content-center">
          <div class="col-2 text-left">
            <input type="submit" class="btn btn-dark" value="{{'send' | translate}}">
          </div>
          <div ng-if="false">
            <div class="col mailError">
              <p class="mailError">{{'emailError' | translate}}</p>
            </div>
          </div>
          <div class="col"></div>
        </div>
      </ng-form>
    </div>
  </div>
</div>

</body>

