<!--<head>-->
<!--  &lt;!&ndash; build:css(.tmp) styles/signin.css &ndash;&gt;-->
<!--  <link rel="stylesheet" href="styles/signin.css">-->
<!--  &lt;!&ndash; endbuild &ndash;&gt;-->
<!--</head>-->

<head><title>{{ 'pageTitleRequestPassword' | translate}}</title></head>

<div class="sidenav sidenav-index">
  <div class="text-center mt-5">
    <a ng-href="#/">
      <img class="logo-img" src="images/logo_bp.png">
    </a>
  </div>
</div>

<div class="main">
  <div class="col-md-8">
    <div class="login-form">
      <div class="row back-req">
        <a ng-href="#/login" class="btn btn-outline-dark pull-left">{{'back' | translate}}</a>
      </div>
      <ng-form name="reqPasswordForm">
        <h4>{{'requestPasswordTitle' | translate}}</h4>
        <p>{{'requestPasswordSubtitle' | translate}}</p>
        <div class="form-group" ng-class="{'has-error': reqPasswordForm.username.$touched && reqPasswordForm.username.$invalid}">
          <label>{{'email' | translate}}</label>
          <input style="color: black !important;" name="username" ng-model="controller.email" class="form-control" placeholder="{{'enterEmail' | translate}}"
                 required type="email"/>
        </div>
        <div class="row justify-content-center">
          <div class="col-2 text-left">
            <input type="submit" class="btn btn-dark" value="{{'send' | translate}}" ng-click="requestNewPassword(controller.email)" ng-disabled="reqPasswordForm.$invalid">
          </div>
          <div ng-if="invalidEmail">
            <div class="col mailError">
              <p class="mailError">{{'emailError' | translate}}</p>
            </div>
          </div>
          <div ng-if="serverRetryError">
            <div class="col mailError">
              <p class="mailError">{{'serverRetryError' | translate}}</p>
            </div>
          </div>
          <div class="col"></div>
        </div>
      </ng-form>
    </div>
  </div>
</div>
