
<head><title>{{ 'pageTitleUserInfo' | translate : {f : user.firstName, l: user.lastName} }}</title></head>

<div class="back sep-nav">
  <button onclick="history.back()" class="btn btn-dark">{{'back' | translate}}</button>
</div>

<div class="dropdown-divider"></div>

<div class="container emp-profile">
  <div class="row">
    <div class="col-md-4">

      <div class="profile-img">
        <div ng-if="user.profileImageAvailable">
          <img ng-src="data:image/JPEG;base64,{{user.image}}" alt="{{'userPicture' | translate}}" aria-placeholder="{{'userPicture' | translate}}"/>
        </div>
        <div ng-if="!user.profileImageAvailable">
          <img ng-src="images/userNoImage.png" alt="{{'userPicture' | translate}}" aria-placeholder="{{'userPicture' | translate}}"/>
        </div>
      </div>

      <div ng-if="user.linkedin" class="text-center my-2">
        <a href="{{getLinkedinUrl()}}" class="btn btn-linkedin">
          <img src="images/linkedin.png" style="height: 20px; width: auto"/>
          <label>{{'linkedinProfile' | translate}}</label>
        </a>
      </div>

      <div ng-if="isInvestor" class="counter text-center">
        <img src="images/invest-icon.png" style="width: 50px; height: auto">
        <h2 class="timer count-title count-number" data-to="100" data-speed="1500"><div id="invested">0</div></h2>
        <p class="count-text ">{{'totalinv' | translate}}</p>
      </div>
    </div>

    <div class="col-md-8">
      <div class="profile-head">
        <h2 class="bold">{{'profileTitle' | translate : {first : user.firstName, last : user.lastName} }}</h2>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" ng-if="!isInvestor">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
               aria-controls="home" aria-selected="true">{{'information' | translate}}</a>
          </li>
          <li ng-if="!isInvestor" class="nav-item">
            <a class="nav-link" id="projects-tab" data-toggle="tab" href="#projects" role="tab"
               aria-controls="projects" aria-selected="false">{{ 'profileDashboard' | translate}}</a>
          </li>
        </ul>
      </div>

      <div class="tab-content profile-tab" id="myTabContent">
        <div class="tab-pane fade show in active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="row">
            <div class="col-md-4">
              <label>{{'firstName' | translate}}</label>
            </div>
            <div class="col-md-6">
              <p>{{user.firstName}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <label>{{'lastName' | translate}}</label>
            </div>
            <div class="col-md-6">
              <p>{{user.lastName}}</p>
            </div>
          </div>
          <div ng-if="user.realId" class="row">
            <div class="col-md-4">
              <label>{{'realId' | translate}}</label>
            </div>
            <div class="col-md-6">
              <p>{{user.realId}}</p>
            </div>
          </div>
          <div ng-if="user.email" class="row">
            <div class="col-md-4">
              <label>{{'email' | translate}} </label>
            </div>
            <div class="col-md-6">
              <p>{{user.email}}</p>
            </div>
          </div>
          <div ng-if="user.phone" class="row">
            <div class="col-md-4">
              <label>{{'phone' | translate}} </label>
            </div>
            <div class="col-md-6">
              <p>{{user.phone}}</p>
            </div>
          </div>
          <div ng-if="user.birthDate" class="row">
            <div class="col-md-4">
              <label>{{'birthday' | translate}}</label>
            </div>
            <div class="col-md-6">
              <p>{{toLocaleDateString(user.birthDate)}}</p>
            </div>
          </div>
          <div ng-if="user.country" class="row">
            <div class="col-md-4">
              <label>{{'country' | translate}} </label>
            </div>
            <div class="col-md-6">
              <p>{{user.country}}</p>
            </div>
          </div>
          <div ng-if="user.city" class="row">
            <div class="col-md-4">
              <label>{{'city' | translate}} </label>
            </div>
            <div class="col-md-6">
              <p>{{user.city}}</p>
            </div>
          </div>
          <div ng-if="user.state" class="row">
            <div class="col-md-4">
              <label>{{'state' | translate}}</label>
            </div>
            <div class="col-md-6">
              <p>{{user.state}}</p>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="projects" role="tabpanel" aria-labelledby="projects-tab">
          <div class="text-center" ng-if="loadingSecondTab">
            <div ng-if="!safari()" class="spinner-grow text-dark loading-grow" role="status"></div>
            <div ng-if="safari()" class="spinner-border text-dark loading-border" role="status"></div>
          </div>
          <div ng-if="!loadingSecondTab && secondTab.length !== 0">
            <div ng-repeat="project in secondTab">
              <div class="card m-2">
                <div class="card-header card-title text-white">
                  <div class="row">
                    <a class="col-8" href="#/projects/{{project.id}}">
                      <h5 class="card-title cut-text">{{project.name}}</h5>
                    </a>
                    <div class="col-4">
                      <h4 style="text-align: center; font-size: 12px; margin-bottom: 2px !important;">
                        {{formatPrice(project.fundingCurrent)}} {{'of' }} <b>{{formatPrice(project.fundingTarget)}}</b></h4>
                      <div class="progress" style="height: 10px; margin: 0 0 0 0;">
                        <div class="progress-bar progress-bar-striped progress-bar-animated my-bar" role="progressbar" style="width: {{project.percentage}}%" aria-valuenow="{{project.percentage}}" aria-valuemin="0" aria-valuemax="100">{{project.percentage}}%</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card-body favorites">
                  <p class="card-text" style="color: black; font-weight: normal;">{{project.summary}}</p>
                </div>
              </div>
            </div>
            <div ng-if="page < lastPage">
              <button ng-click="viewMoreProjects()" class="btn btn-inv pull-right">
                <h5 class="view-more pull-right"> {{'viewmore' | translate}}</h5>
              </button>
            </div>
          </div>

          <div ng-if="!loadingSecondTab && secondTab.length === 0"  class="card m-2">
            <div class="card-header text-center">
              <h5 class="card-title text-white">{{ 'noProjFound' | translate}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="dropdown-divider"></div>
