
/*.btn-default{*/
/*    background-color: #750096;*/
/*    color: #ffffff;*/
/*    border: #53006d;*/
/*}*/

/*.btn-default:hover{*/
/*    background-color: #53006d;*/
/*    color: #ffffff;*/
/*    border: #53006d;*/
/*}*/

.btn-transp{
    background-color: Transparent;
    border: none !important;
}

.header-white{
    background-color: white;
}