
/* The container must be positioned relative: */
.custom-select {
    position: relative;
    font-family: Arial, serif;
}

.card-deck{
    margin: 20px 10% 20px 17%;
}

.card {
    border-color: #750096;
    margin: 5px !important;
    min-width: 300px;
    max-width: 40%;
}

.msg{
    min-width: 100% !important;
    padding:20px;
    margin-left:auto !important;
    margin-right:auto !important;
}

.msg-collapse{
    background-color:#dcdcdc;
    padding:0px
}

.card-header{
    background-color: #222222;
    max-height:55px
}

.checked {
    color: orange;
}

.btn-transp{
    background-color: Transparent;
    border: none !important;
}

.fav-img{
    height: 55px;
}

.proj-img{
    width: 110%;
    height: auto;
    max-width:150px
}

.card-img{
    max-width:200px !important
}

.container-img {
    position: relative;
    text-align: center;
    color: white;
}

.card-title h5{
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    font-size:20px
}

.navbar-fixed-bottom, .navbar-fixed-top{
    left:auto;
}

@media screen and (max-height: 450px) {
    .sidenav {margin-top: 50%;}
}

@media screen and (min-width: 768px){
    .sidenav{
        height: auto; /* Full-height: remove this if you want "auto" height */
        width: 15%; /* Set the width of the sidebar */
        position: absolute; /* Fixed Sidebar (stay in place on scroll) */
        top: 190px; /* Stay at the top */
        background-color: #f6f6f6;
        border: solid 1px #000000;
        overflow-x: hidden; /* Disable horizontal scroll */
        left:0;
        margin-left:10px;
        overflow-y:hidden;
        min-height:480px;
    }
}

.field{
    margin-top: 22px;
}

.pagination{
    margin-top:5px !important;
    margin-bottom:0px !important
}

.page-link{
    color: #750096 !important;
    font-size: 30px !important;
    font-family:Impact, sans-serif;
    font-variant: all-petite-caps;
    font-weight: bold;
}

.page-link2{
    color: #ffffff !important;
    font-size: 30px !important;
    font-family:Impact, sans-serif;
    font-variant: all-petite-caps;
    font-weight: bold;
}

.page-link2-active{
    color: blue !important;
    font-size: 30px !important;
    font-family:Impact, sans-serif;
    font-variant: all-petite-caps;
    font-weight: bold;
}

.active-item{
    border:solid 2px #000000;
    background-color: #f1f1f1;
}

.pagination > li > a
{
    background-color: #dedede !important;
    color: #000000 !important;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #000000 !important;
    background-color: #eee !important;
    border-color: #ddd !important;
}

.pagination > .disabled > a
{
    color: #000000 !important;
    background-color: transparent !important;
}

.no-proj{
    margin-left:25% !important;
    margin-top:30px !important
}

.no-proj-mine{
    margin-left: auto !important;
    margin-right: auto !important;
}

.card-secondary{
    text-align: right;
}

.anchor-header {
    display: block;
    height: 92px;
    margin-top: -92px;
    visibility: hidden;
}

html {
    scroll-behavior: smooth;
}

.btn-secondary{
    background-color: #750096 !important;
    margin-bottom: 50px
}

.btn-md{
    padding:10px !important;
    font-size: 15px !important;
}

.card-deal{
    min-width: 100% !important;
    padding:20px;
    margin-left:auto !important;
    margin-right:auto !important;
}

.container-deal{
    margin-left:30% !important;
    margin-right:30% !important
}

.tab-title{
    color:white;
    font-family:sans-serif;
    font-variant:all-petite-caps;
    font-size:x-large
}

.tab-title2{
    margin-left: 30px;
    color:white;
    font-family:sans-serif;
    font-variant:all-petite-caps;
    font-size:xx-large
}

.card-body{
    padding: 15px 15px 20px;
}

.card-text{
    font-size:15px !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}

.msg-content{
    margin-left:10px;
}
.msg-title{
    color:#750096;
    margin-left:10px
}
.btn-project{
    padding:10px !important;
    font-size: 15px !important;
}

.p-img{
    max-width:200px
}

.active-page-deals {
    color: blue !important;
}

.searchbar{
    margin:auto !important;
}

.range{
    font-size:16px;
    color: grey;
}

.dropdown-divider{
    margin-top:18px;
    margin-bottom:18px;
    border:solid 0.5px #adadadad
}

.form-row{
    margin-top: 20px; margin-left:20px; margin-right:20px
}

.range-box{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.form-control{
    font-size:15px;
    color:gray !important;
}

.custom-select{
    font-size:15px;
    color: grey;
}
.input-group-text{
    min-width:70px;
}
.input-group-prepend span{
    font-size: 15px;
}
.icon-img{
    width: 38px;
}

.apply-btn{
    margin-top:20px;
    margin-right: 8px !important;
    margin-left:auto !important;
}
.apply-btn input{
    font-size:15px;
}

.card-footer{
    padding: 10px 0 0 10px;
    max-height: 80px
}

.card-footer a{
    font-size:15px !important;
}

.price-footer{
    font-size:18px;
    margin-left:10px;
}