.formError {
    color: red;
}

.custom-checkbox{
    padding-left: 10px;
}

.custom-form-input {
    padding: 6px;
    border: 2px solid #750096;
    border-radius: 10px;
    width: 30ch;
}

.custom-form-textarea {
    padding: 6px;
    border: 2px solid #750096;
    border-radius: 10px;
    width: 100%;
}