.navbar{
    top:0px;
    width:100%;
    position: fixed !important; /* Fixed Sidebar (stay in place on scroll) */
    z-index:500;
}

.navbar-custom {
    color: #750096;
    background-color: #222222;
}

.navbar-custom2 {
    color: #000000;
    background-color: #b1b1b1;
}

.navbar-custom3 {
    color: #000000;
    background-color: white;
}


.navbar-brand
{
    position: relative;
    width: 60px;
    height: 60px;
    vertical-align: middle;
}

.logo-text
{
    color: #750096; font-family: 'Lato', sans-serif; font-size: 30px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; margin-right: 30px;
    vertical-align: middle;

}

.logopurple{
    color: #750096;
    background-color: #750096 !important;
}

.logo-text:active, .logo-text:hover
{
    color: #53006d;
    text-decoration: none;
}

.dropdown-item{
    font-family: 'Lato', sans-serif
}

.searchButt{
    background-color: #53006d;
    color: #ffffff;
}
.topnav-right {
    float: right;
}

body{
    margin-top:100px !important
}

.btn-black{
    min-width:60px
}

.logopurple{
    min-width:60px
}