.navbar{
    top:0;
    width:100%;
    position: fixed !important; /* Fixed Sidebar (stay in place on scroll) */
    z-index:500;
    height:70px
}

.navbar-custom {
    color: #750096;
    background-color: #222222;
}

.navbar-custom2 {
    color: #000000;
    background-color: #b1b1b1;
}

.navbar-custom3 {
    color: #000000;
    background-color: white;
}

.navbar-brand img
{
    position: relative;
    width: 60px;
    height: 60px;
}

.logo-text
{
    color: #750096; font-family: 'Lato', sans-serif; font-size: 30px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; margin-right: 30px;
    margin-top:auto;
    margin-bottom: auto
}

.logopurple{
    color: #750096;
    background-color: #750096 !important;
}

.logo-text:active, .logo-text:hover
{
    color: #53006d;
    text-decoration: none;    font-family: 'Lato', sans-serif;

}

.dropdown-item{
    font-family: 'Lato', sans-serif
}

.searchButt{
    background-color: #53006d;
    color: #ffffff;
}
.topnav-right {
    float: right;
}

body{
    margin-top:90px !important;
    overflow-x: hidden;
}

body text, a, strong, p, h1, h2, h2.bold, h3, h4, h5, h6, label, span,
.btn, a.page-link, .msg-title, .msg-content, .row, .modal,
.custom-form-input, .custom-form-file,.custom-form-select{
    font-family: 'Lato', sans-serif;
}

.btn-black{
    min-width:50px;
    max-width: 60px;
}

.logopurple{
    min-width:60px
}

.text-icon{
    font-size: 10px;
    margin-right:auto !important;
    margin-left:auto !important;
    margin-top:3px
}

.navbar-nav{
    margin-left:auto
}

.btn-dark{
    min-width:60px
}

.nav-icon{
    width: 30px;
    height: 30px;
}

.btn-header{
    padding: 0 !important;
    margin-left:30px !important;
    margin-right: 20px !important;
    border: none !important;
    background: none !important;
}

.dropdown-toggle:after {
    border: none !important;
}
