<head><title> {{ 'singleView' | translate : {p : project.name} }} | VestNet</title></head>

<!--<vnheader></vnheader>-->

<div id="all">
<!-- Message and Back logic -->
  <div class="container sep-nav" style="margin-top: 20px">
    <div class="d-flex justify-content-between align-self-center" style="margin-right:6%">
      <div class="p-2 mx-3 my-1">
        <button ng-click="backAction()" class="btn btn-dark"> {{'back' | translate}} </button>
      </div>
      <div class="p-2 ml-8" id="mail-feedback" ng-if="sent == true">
        <h5 class="card-title mr-4" style="margin-top: 15px; color: #750096"> {{'successfullContact' | translate : {name : project.owner.firstName} }} </h5>
      </div>
    </div>

    <div class="row" style="margin: 0">
      <div class="col-5">

        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" style="width: 100%; margin: 0 auto">

          <ol class="carousel-indicators" id="carousel-slides"></ol>

          <div class="carousel-inner">
            <div id="carousel-items">
              <div class="carousel-item active" ng-if="!project.imageExists">
                <img ng-src="/images/projectNoImage.png" class="proj-img" alt="{{'projectImage' | translate}}" aria-placeholder="{{'projectImage' | translate}}">
              </div>
              <div class="carousel-item active" ng-if="project.imageExists">
                  <img ng-src="data:image/JPEG;base64,{{project.image}}" class="proj-img" alt="{{'projectImage' | translate}}" aria-placeholder="{{'projectImage' | translate}}">
              </div>
              <div  class="carousel-item" ng-if="project.slideshowExists" ng-repeat="image in project.slideshow">
                  <img ng-src="data:image/JPEG;base64,{{image}}" class="proj-img" alt="{{'projectImage' | translate}}" aria-placeholder="{{'projectImage' | translate}}">
<!--                <img ng-src="data:image/JPEG;base64,{{project.image}}" class="proj-img" alt="{{'projectImage' | translate}}" aria-placeholder="{{'projectImage' | translate}}">-->
              </div>
            </div>
          </div>
<!--          </div>-->
            <a ng-if="project.slideshowExists" class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="false"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a ng-if="project.slideshowExists" class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="false"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>

      </div>

      <!-- Favorite icon logic -->
      <div class="col-7">
        <div class="d-flex justify-content-center">
          <div class="card description mb-3">
            <!--
            <sec:authorize access="hasRole('ROLE_INVESTOR')">
              <div class="card-header header-white">
                <button onclick="favTap()" class="btn-transp pull-right">
                  <c:choose>
                    <c:when test="${user.favorites.contains(project)}">
                      <c:set var="icon_fav" value="${icon_fav_on}"/>
                    </c:when>
                    <c:otherwise>
                      <c:set var="icon_fav" value="${icon_fav_off}"/>
                    </c:otherwise>
                  </c:choose>
                  <img id="favImg" src="${icon_fav}" height="40">
                </button>
              </div>
            </sec:authorize> -->

            <!-- Project card -->
            <div class="card-body single-card">
              <h5 class="card-title"><b>{{project.name}}</b></h5>
              <div ng-if="userId == project.owner.id" class="blockquote-footer">{{'you' | translate}}</div>
              <div ng-if="userId != project.owner.id" class="blockquote-footer">by <a ng-href="#/users/{{project.owner.id}}">{{project.owner.firstName}} {{project.owner.lastName}}</a></div>

              <p class="card-text">{{project.summary}}</p>

              <h5 class="card-title"><b>{{'categories' | translate}}</b></h5>
                <li ng-repeat="category in project.categories">{{category}}</li>
              <br/>

              <h5 class="card-title"><b>{{'contactMail' | translate}}</b></h5>
              <p>{{project.owner.mail}}</p>

              <h5 class="card-title"><b>{{'funding' | translate}}</b></h5>
              <div class="text-center ">
                  <h6 class="card-title">{{'of' | translate : {of: project.fundingCurrent} }} <b style="font-size: 25px"> {{'moneyarg' | translate : {m: project.fundingTarget} }}</b></h6>
              </div>
<!--              <div class="row">-->
<!--                <div class="col-1"></div>-->
<!--                <div class="col-5">-->
<!--                  <h6 class="card-title"><b>{{'current' | translate}}</b> &nbsp; &nbsp;&nbsp; {{'moneyarg' | translate : {m: project.fundingCurrent} }}</h6>-->
<!--                </div>-->
<!--                <div class="col-6">-->
<!--                  <h6 class="card-title"><b>{{'target' | translate}}</b> &nbsp; {{'moneyarg' | translate : {m: project.fundingTarget} }}</h6>-->
<!--                </div>-->
<!--              </div>-->

              <div class="progress" style="height: 25px; margin: 5px 0 0 8px;">
                <div class="progress-bar progress-bar-striped progress-bar-animated my-bar" role="progressbar" style="font-size: 15px;width:{{(project.fundingCurrent/project.fundingTarget)*100}}%" aria-valuenow="{{project.percentage}}" aria-valuemin="0" aria-valuemax="100">{{toInt((project.fundingCurrent/project.fundingTarget)*100)}}%</div>
              </div>

              <div class="dropdown-divider"></div>

              <p class="card-text"><small class="text-muted">{{'lastUpdate' | translate : { date : project.updateDate } }}</small></p>
            </div>
          </div>
        </div>

        <!-- Contact button -->
        <div class="d-flex justify-content-center">
            <a href="#{{project.chatUrl}}" ng-click="pressContact = 1" class="btn btn-dark contact-btn" >
              <img src="images/chat-icon.png" class="contact-img">
              {{'contact' | translate}}
            </a>
          <!--
          <sec:authorize access="isAnonymous()">
            <button class="btn btn-dark btn-lg btn-block" aria-controls="contact" id="contact-login-button" data-toggle="modal" data-target="#expFunding">
              <spring:message code="singleView.button.createToContactOwner"/>
            </button>
          </sec:authorize>

          <sec:authorize access="hasRole('ROLE_INVESTOR')">
            <c:choose>
              <c:when test="${lastMessage.isPresent() and lastMessage.get().accepted eq null}">
                <button class="btn btn-dark btn-lg btn-block" id="contact-already-sent-button" disabled>
                  <spring:message code="singleView.button.alreadySent"/>
                </button>
              </c:when>
              <c:otherwise>
                <button class="btn btn-dark btn-lg btn-block" data-toggle="collapse"
                        data-target="#contact" aria-expanded="false" aria-controls="contact" id="contact-expand-button">
                  <spring:message code="contactowner"/>
                </button>
              </c:otherwise>
            </c:choose>
          </sec:authorize>
          -->
        </div>
      </div>

    </div>
<!--    ESTE ES EL QUE SAQUE PORQUE ROMPE-->

    <!--
    <sec:authorize access="hasRole('ROLE_INVESTOR')">
      <div class="collapse" id="contact">
        <div class="card contact">
          <div class="card-header">
            <spring:message code="contact.header" arguments="${project.owner.firstName},${project.owner.lastName}" var="contactHeaderVar"/>
            <label class="label-header"><c:out value="${contactHeaderVar}"/></label>
            <button class="btn btn-dark pull-right" type="button" data-toggle="collapse"
                    data-target="#contact" aria-expanded="false" aria-controls="contact">X
            </button>
          </div>
          <div class="card-body">
            <c:url value="/projects/${project.id}" var="postPath"/>
            <form:form modelAttribute="mailForm" action="${postPath}" method="post">

              <div class="form-group">
                <label><spring:message code="contact.bodyMessage"/></label>
                <div class="input-group mb-3">
                  <spring:message code="writemessage" var="placeholdermessage"/>
                  <form:textarea path="body" type="text" class="form-control"
                                 placeholder="${placeholdermessage}" aria-describedby="basic-addon2"/>
                </div>
                <form:errors path="body" cssClass="formError"/>
              </div>

              <div class="container-contact">
                <div class="row">
                  <div class="col-2">
                    <label><spring:message code="contact.offerMessage"/></label>
                  </div>
                  <div class="col-md-5">
                    <div class="row justify-content-center">
                      <div class="col-2">
                        <label><spring:message code="currency"/></label>
                      </div>
                      <div class="col">
                        <spring:message code="writemessage" var="placeholderoffers"/>
                        <form:input path="offers" type="number" class="form-control"
                                    placeholder="${placeholderoffers}"
                                    aria-describedby="basic-addon2" id="contact-offer"/>
                      </div>
                    </div>
                  </div>
                </div>
                <form:errors path="offers" cssClass="formError"/>
              </div>

              <div class="container-contact">
                <div class="row">
                  <div class="col-2">
                    <label><spring:message code="contact.exchangeMessage"/></label>
                  </div>
                  <div class="col-md-5">
                    <spring:message code="writemessage" var="placeholderexchange"/>
                    <form:textarea path="exchange" type="text" class="form-control"
                                   placeholder="${placeholderexchange}"
                                   aria-describedby="basic-addon2"/>
                  </div>
                </div>
                <form:errors path="exchange" cssClass="formError"/>
              </div>

              <form:input path="receiverId" value="${project.owner.id}" type="hidden"/>

              <div class="text-right">
                <input type="submit" value="<spring:message code="send"/>" class="btn btn-dark"
                onclick="adjustInputs()" id="contact-send"/>
              </div
            </form:form>
          </div>
        </div>
      </div>
    </sec:authorize>
    -->

  <div class="progress my-bar-steps0">
    <div class="progress-bar progress-bar-striped progress-bar-animated
        {{projectstage==1?'bar-red':(projectstage==2?'bar-orange':(projectstage==3?'bar-yellow':(projectstage==4?'bar-cyan':'bar-green')))}}"
         role="progressbar" style="width: {{projectstage*20}}%" aria-valuenow="{{projectstage}}" aria-valuemin="0" aria-valuemax="5"></div>
  </div>

  <div ng-if="!project.getByOwner" class="card-group history-group">
    <div class="{{projectstage > 0 ? 'card bg-danger h-step' : 'card border-danger h-step'}}">
      <div class="card-body h-step-b">
        <h5 ng-if="project.stages[0].completed" class="card-title">{{project.stages[0].name}}</h5>
        <p ng-if="project.stages[0].completed" class="card-text">{{project.stages[0].comment}}</p>
        <h5 ng-if="!project.stages[0].completed" class="card-title">{{'stageN' | translate : '{ n : 1 }' }}</h5>
        <img ng-if="!project.stages[0].completed" class="soon-img" src="images/soon.png">
      </div>
    </div>
    <div class="{{projectstage > 1 ? 'card bg-orange h-step' : 'card border-orange h-step'}}">
      <div class="card-body h-step-b">
        <h5 ng-if="project.stages[1].completed" class="card-title">{{project.stages[1].name}}</h5>
        <p ng-if="project.stages[1].completed" class="card-text">{{project.stages[1].comment}}</p>
        <h5 ng-if="!project.stages[1].completed" class="card-title">{{'stageN' | translate : '{ n : 2 }' }}</h5>
        <img ng-if="!project.stages[1].completed" class="soon-img" src="images/soon.png">
      </div>
    </div>
    <div class="{{projectstage > 2 ? 'card bg-warning h-step' : 'card border-warning h-step'}}">
      <div class="card-body h-step-b">
        <h5 ng-if="project.stages[2].completed" class="card-title">{{project.stages[2].name}}</h5>
        <p ng-if="project.stages[2].completed" class="card-text">{{project.stages[2].comment}}</p>
        <h5 ng-if="!project.stages[2].completed" class="card-title">{{'stageN' | translate : '{ n : 3 }' }}</h5>
        <img ng-if="!project.stages[2].completed" class="soon-img" src="images/soon.png">
      </div>
    </div>
    <div class="{{projectstage > 3 ? 'card bg-cyan h-step' : 'card border-cyan h-step'}}">
      <div class="card-body h-step-b">
        <h5 ng-if="project.stages[3].completed" class="card-title">{{project.stages[3].name}}</h5>
        <p ng-if="project.stages[3].completed" class="card-text">{{project.stages[3].comment}}</p>
        <h5 ng-if="!project.stages[3].completed" class="card-title">{{'stageN' | translate : '{ n : 4 }' }}</h5>
        <img ng-if="!project.stages[3].completed" class="soon-img" src="images/soon.png">
      </div>
    </div>
    <div class="{{projectstage > 4 ? 'card bg-success h-step' : 'card border-success h-step'}}">
      <div class="card-body h-step-b">
        <h5 ng-if="project.stages[4].completed" class="card-title">{{project.stages[4].name}}</h5>
        <p ng-if="project.stages[4].completed" class="card-text">{{project.stages[4].comment}}</p>
        <h5 ng-if="!project.stages[4].completed" class="card-title">{{'stageN' | translate : '{ n : 5 }' }}</h5>
        <img ng-if="!project.stages[4].completed" class="soon-img" src="images/soon.png">
      </div>
    </div>
  </div>

  <div ng-if="project.getByOwner" class="card-group history-group">
    <div class="{{projectstage > 0 ? 'card bg-danger h-step' : 'card border-danger h-step'}}">
      <div class="card-body stage-body h-step-b">
        <h5 ng-if="projectstage>0" class="card-title">{{project.stages[0].name}}</h5>
        <h5 ng-if="projectstage<0" class="card-title">{{'stageN' | translate : '{ n : 1 }' }}</h5>
        <p ng-if="projectstage>=1" class="card-text">{{project.stages[0].comment}}</p>
        <input ng-if="projectstage==0" ng-model="new.name" maxlength="14" type="text" class="form-control stage-name" placeholder="{{'stage' | translate}}" id="s1i"/>
        <textarea ng-if="projectstage==0" ng-model="new.comment" maxlength="100" class="border-danger form-control" placeholder="{{'comments' | translate}}" rows="5" id="s1"></textarea>
        <button ng-if="projectstage==0" class="btn btn-inv text-center" ng-click="addStage(new.name, new.comment, 'stageN'|translate)" style="margin-left:40%; margin-top:10px">
          <img src="images/add-icon.png" alt="" class="img-invest">
        </button>
        <div class="blockquote-footer blockquote-footer mini-text pull-right" ng-if="projectstage>=1">{{project.stages[0].completedDate}}</div>
      </div>
    </div>
    <div class="{{projectstage > 1 ? 'card bg-orange h-step' : 'card border-orange h-step'}}">
      <div class="card-body stage-body h-step-b">
        <h5 ng-if="projectstage>1" class="card-title">{{project.stages[1].name}}</h5>
        <h5 ng-if="projectstage<1" class="card-title">{{'stageN' | translate : '{ n : 2 }' }}</h5>
        <p ng-if="projectstage>=2" class="card-text">{{project.stages[1].comment}}</p>
        <input ng-if="projectstage==1" ng-model="new.name" maxlength="14" type="text" class="form-control stage-name" placeholder="{{'stage' | translate}}" id="s2i"/>
        <textarea ng-if="projectstage==1" ng-model="new.comment" maxlength="100" class="border-orange form-control" placeholder="{{'comments' | translate}}" rows="5" id="s2"></textarea>
        <button ng-if="projectstage==1" class="btn btn-inv text-center" ng-click="addStage(new.name, new.comment, 'stageN'|translate)" style="margin-left:40%; margin-top:10px">
          <img src="images/add-icon.png" alt="" class="img-invest">
        </button>
        <div class="blockquote-footer blockquote-footer mini-text pull-right" ng-if="projectstage>=2">{{project.stages[1].completedDate}}</div>
      </div>
    </div>
    <div class="{{projectstage > 2 ? 'card bg-warning h-step' : 'card border-warning h-step'}}">
      <div class="card-body stage-body h-step-b">
        <h5 ng-if="projectstage>2" class="card-title">{{project.stages[2].name}}</h5>
        <h5 ng-if="projectstage<2" class="card-title">{{'stageN' | translate : '{ n : 3 }' }}</h5>
        <p ng-if="projectstage>=3" class="card-text">{{project.stages[2].comment}}</p>
        <input ng-if="projectstage==2" ng-model="new.name" maxlength="14" type="text" class="form-control stage-name" placeholder="{{'stage' | translate}}" id="s3i"/>
        <textarea ng-if="projectstage==2" ng-model="new.comment" maxlength="100" class="border-warning form-control" placeholder="{{'comments' | translate}}" rows="5" id="s3"></textarea>
        <button ng-if="projectstage==2" class="btn btn-inv text-center" ng-click="addStage(new.name, new.comment, 'stageN'|translate)" style="margin-left:40%; margin-top:10px">
          <img src="images/add-icon.png" alt="" class="img-invest">
        </button>
        <div class="blockquote-footer blockquote-footer mini-text pull-right" ng-if="projectstage>=3">{{project.stages[2].completedDate}}</div>
      </div>
    </div>
    <div class="{{projectstage > 3 ? 'card bg-cyan h-step' : 'card border-cyan h-step'}}">
      <div class="card-body stage-body h-step-b">
        <h5 ng-if="projectstage>3" class="card-title">{{project.stages[3].name}}</h5>
        <h5 ng-if="projectstage<3" class="card-title">{{'stageN' | translate : '{ n : 4 }' }}</h5>
        <p ng-if="projectstage>=4" class="card-text">{{project.stages[3].comment}}</p>
        <input ng-if="projectstage==3" ng-model="new.name" maxlength="14" type="text" class="form-control stage-name" placeholder="{{'stage' | translate}}" id="s4i"/>
        <textarea ng-if="projectstage==3" ng-model="new.comment" maxlength="100" class="border-cyan form-control" placeholder="{{'comments' | translate}}" rows="5" id="s4"></textarea>
        <button ng-if="projectstage==3" class="btn btn-inv text-center" ng-click="addStage(new.name, new.comment, 'stageN'|translate)" style="margin-left:40%; margin-top:10px">
          <img src="images/add-icon.png" alt="" class="img-invest">
        </button>
        <div class="blockquote-footer blockquote-footer mini-text pull-right" ng-if="projectstage>=4">{{project.stages[3].completedDate}}</div>
      </div>
    </div>
    <div class="{{projectstage > 4 ? 'card bg-success h-step' : 'card border-success h-step'}}">
      <div class="card-body stage-body h-step-b">
        <h5 ng-if="projectstage>4" class="card-title">{{project.stages[4].name}}</h5>
        <h5 ng-if="projectstage<4" class="card-title">{{'stageN' | translate : '{ n : 5 }' }}</h5>
        <p ng-if="projectstage>=5" class="card-text">{{project.stages[4].comment}}</p>
        <input ng-if="projectstage==4" ng-model="new.name" maxlength="14" type="text" class="form-control stage-name" placeholder="{{'stage' | translate}}" id="s5i"/>
        <textarea ng-if="projectstage==4" ng-model="new.comment" maxlength="100" class="border-success form-control" placeholder="{{'comments' | translate}}" rows="5" id="s5"></textarea>
        <button ng-if="projectstage==4" class="btn btn-inv text-center" ng-click="addStage(new.name, new.comment, 'stageN'|translate)" style="margin-left:40%; margin-top:10px">
          <img src="images/add-icon.png" alt="" class="img-invest">
        </button>
        <div class="blockquote-footer blockquote-footer mini-text pull-right" ng-if="projectstage==5">{{project.stages[4].completedDate}}</div>
      </div>
    </div>
  </div>

</div>
<!--</div>-->
</div>

<!--<footer>-->
<!--  <vnfooter></vnfooter>-->
<!--</footer>-->


