<html>
<body style="font-family:'Lato',sans-serif;border:solid black 1px; max-width:800px">

<img src="cid:headerImage">

<div style="padding: 10px; color: #4e4e4e; text-align:center; max-width:800px">

    <h2 style="color: #750096">#message("email.body.vestnetReports") </h2>
    <h3>#message("email.body.greeting") ${receiver.getFirstName()}!</h3>

    <h4>#message("email.body.verification")</h4>
    <h3>
        #message("email.body.verificationButton")
        <a href="${baseUrl}/verify?username=${token}">#message("email.clickhere")</a>.
    </h3>

</div>

<div style="padding:10px;color:#38004d;text-align:left;max-width:800px;font-size:16px;">
    <p><i>#message("email.moreinfo")</i></p>
</div>

</body>
</html>