
## #parse("/templates(o donde sea)/footer.vm") si se quisiera hacer componentes ponele

<html>
<body>
<h5>${mail.subject}</h5>
<div>
    #message("add_project")
    ${baseUrl}/verify?token=${token}
</div>
</span>
</body>
</html>