<!--<head>-->
<!--    &lt;!&ndash; build:css(.tmp) styles/404.css &ndash;&gt;-->
<!--  <link rel="stylesheet" href="styles/404.css">-->
<!--    &lt;!&ndash; endbuild &ndash;&gt;-->
<!--</head>-->

<vnheader></vnheader>

<div id="notfound">
  <div class="notfound">
    <div class="notfound-404">
      <h1>404</h1>
    </div>
    <input ng-model="eCode">
    <h2>{{'errorTitle' | translate}}</h2>
    <h2 class="error-sub">{{'error' + eCode | translate}} </h2>
    <div><a href="#" onclick="history.back()"><span class="arrow"></span>{{'goBack' | translate}}</a></div>
    <div><a href="/#"><span class="arrow"></span>{{'goHome' | translate}}</a></div>
  </div>
</div>

<footer>
  <vnfooter></vnfooter>
</footer>
