

<body ng-controller="chatCtrl">
<vnheader></vnheader>

<!--<div class="row">-->
<!--  -->
<!--</div>-->
<!-- Message and Back logic -->
<div class="chatscreen sep-nav">

    <div class="d-flex justify-content-between align-self-center" style="margin-right:6%">
      <div class="p-2 mx-3 my-1">
        <button ng-click="backAction()" class="btn btn-dark"> {{'back' | translate}} </button>
      </div>
    </div>

    <div class="row" style="margin: 10px">
      <div class="col-1">
        <h4>{{projects[0].name}}</h4>
        <img src="images/projectNoImage.png" class="p-img" alt=""/>
        <p><i>41% Funded</i></p>
      </div>
      <div class="col-10">
        <div class="d-flex justify-content-center">
          <div class="card chatbox mb-3">
            <div class="card-header">
              <h5 class="chatbox-header">
                Gabriel Jesus - {{'entrepreneur' | translate}}
              </h5>
            </div>
            <div class="chatbox-body card-body">
              <div class="blockquote-footer">Last message: 03-09-1997</div>

              <h5 class="card-title"><b>{{'categories' | translate}}</b></h5>
                <li ng-repeat="category in project.categories">{{category}}</li>
              <br/>
              <h5 class="card-title"><b>{{'totalCost' | translate}}</b></h5>

              <p>{{'projectCost' | translate : '{cost: project.cost}'}}</p>

              <h5 class="card-title"><b>{{'contactMail' | translate}}</b></h5>
              <p>{{project.owner.mail}}</p>

              <h5  ng-if="userId != project.owner.id"><a href="<c:url value='/users/${project.owner.id}?back=yes'/>"
                         class="btn btn-dark btn-sm">{{'viewProfile' | translate}}</a></h5>
              <div class="dropdown-divider"></div>

              <p class="card-text"><small class="text-muted">{{'lastUpdate' | translate: '{date : project.updateDate}' }}</small></p>
            </div>
          </div>
        </div>

      </div>

      <div class="col-1">
        <h4>{{projects[0].name}}</h4>
        <img src="images/projectNoImage.png" class="p-img"/>
        <p><i>41% Funded</i></p>
      </div>

    </div>
</div>


</body>

<footer>
  <vnfooter></vnfooter>
</footer>

