<head><title>{{ 'pageTitleChat' | translate : {p : project.name} }}</title></head>

<!--<vnheader></vnheader>-->

<!--<div class="row">-->
<!--  -->
<!--</div>-->
<!-- Message and Back logic -->
<div class="chatscreen sep-nav">

    <div class="d-flex justify-content-between align-self-center" style="margin-right:6%">
      <div class="p-2 mx-3 my-1">
        <button ng-click="backAction()" class="btn btn-dark"> {{'back' | translate}} </button>
      </div>
    </div>

    <div class="row" style="margin-top: 10px">

      <div class="col-2 card chat-ficha">
        <a ng-href="#{{project.projectUrl}}" class="btn-link"><h4 class="chat-p-name">{{project.name}}</h4></a>
        <div ng-if="!project.portraitExists">
          <img ng-src="images/projectNoImage.png" class="chat-p-img" alt="{{'projectImage' | translate}}" aria-placeholder="{{'projectImage' | translate}}"/>
        </div>
        <div ng-if="project.portraitExists">
          <img ng-src="data:image/JPEG;base64,{{project.image}}" class="chat-p-img" alt="{{'projectImage' | translate}}" aria-placeholder="{{'projectImage' | translate}}"/>
        </div>
        <p><i>{{project.summary}}</i></p>
        <h6><i>Funded</i></h6>
        <div class="progress" style="height: 25px; margin: 5px 0 0 8px;">
          <div class="progress-bar progress-bar-striped progress-bar-animated my-bar" role="progressbar" style="font-size: 15px;width: {{project.percentage}}%" aria-valuenow="{{project.percentage}}" aria-valuemin="0" aria-valuemax="100">{{project.percentage}}%</div>
        </div>
      </div>

      <div class="col-8" onload="init();">
        <div class="d-flex justify-content-center">
          <div class="row">
            <div class="card chatbox mb-3">
              <div class="chat-header">
                <div class="row">
                  <div class="col-3">
                    <div ng-if="!user.imageExists">
                      <img ng-src="images/userNoImage.png" class="chat-img" alt="{{'userPicture' | translate}}" aria-placeholder="{{'userPicture' | translate}}"/>
                    </div>
                    <div ng-if="user.imageExists">
                      <img ng-src="data:image/JPEG;base64,{{user.image}}" class="chat-img" alt="{{'userPicture' | translate}}" aria-placeholder="{{'userPicture' | translate}}"/>
                    </div>
                  </div>
                  <div class="center-vertical col-6">
                    <a ng-href="#{{user.userUrl}}" class="btn-link">
                      <h5 class="center-vertical chatbox-header">
                        {{'fullName' | translate : { firstName: user.firstName, lastName: user.lastName } }}
                      </h5>
                    </a>
                  </div>
<!--                  <div class="col-3 center-vertical blockquote-footer mini-text">{{'lastChatWithDate' | translate : { date: getDate(lastMessage.publishDate)[0] } }}</div>-->
                </div>
              </div>
              <button ng-show="nextPageUrl" ng-click="viewMoreChat()" class="btn btn-inv pull-right">
                <img src="images/up-arrow-wh.png" class="p-img" alt="" style="margin-top: 5px">
              </button>
              <div class="chatbox-body card-body" id="chatbox-scroll">
                <div ng-repeat="chat in chats">
                  <div ng-if="chat.incoming" class="row">
                    <div class="card chat-card-other col-">
                      <div class="card-body chat-other">
                        <div class="row">
                          <div class="col-3 msg-offer cut-text">
                            <img src="images/down-arrow.png" alt="{{'msgTitleOffer' | translate}}">
                            <strong>{{chat.offer}}</strong>
                          </div>
                          <div class="col-5 msg-exch cut-text">
                            <img src="images/up-arrow.png" alt="{{'msgTitleRequest' | translate}}">
                            <strong> {{chat.exchange}}</strong>
                          </div>
                          <div ng-if="!chat.answered" class="col-4 msg-exp-me cut-text">
                            {{'expireWithDays' | translate : { days: chat.expInDays } }}
                            <img src="images/clock-icon.png" alt="">
                          </div>
                        </div>
                        <div class="msg-comm">
                          <strong> {{chat.comment}}</strong>
                        </div>
                      </div>
                      <div class="">
                        <div class="col- card-footer chat-date-other chat-date chat-opt-mini">
                          {{getDate(chat.publishDate)[0]}}
                          {{getHour(chat.publishDate)[0]}}
                          <img class="" src="images/accept-icon.png" alt="" ng-if="chat.answered && chat.accepted">
                          <img class="" src="images/reject-icon.png" alt="" ng-if="chat.answered && !chat.accepted">
                        </div>
                      </div>
                    </div>
                    <div class="col-1">
                        <div class="row chat-options2" ng-show="responseEnabled && chat.answered == false">
                            <a class="btn chat-opt2" type="button" data-toggle="modal" data-target="#confirmaccept">
                              <div class="chat-opt2">
                                <img class="" src="images/accept-icon.png" alt="" style="height: 30px; width: auto">
                              </div>
                            </a>
                            <a ng-click="rejectOffer()" class="btn chat-opt2"  type="button" data-toggle="collapse"
                               data-target="#newoffer" aria-expanded="false" aria-controls="newoffer">
                              <div class="chat-opt2">
                                <img class="" src="images/reject-icon.png" style="height: 30px; width: auto" alt="">
                              </div>
                            </a>
                        </div>
                    </div>
                  </div>

                  <div ng-if="!chat.incoming">
                    <div class="card chat-card-me">
                      <div class="card-body chat-me">
                          <div class="row">
                            <div class="col-4">
                              <div class="msg-exp" ng-if="!chat.answered">
                                <img src="images/clock-icon.png" alt="{{'msgTitleRequest' | translate}}">
                                {{'expireWithDays' | translate : { days: chat.expInDays } }}
                              </div>
                            </div>
                            <div class="col-3 cut-text msg-offer">
                              <strong>{{chat.offer}}</strong>
                              <img src="images/down-arrow.png" alt="{{'msgTitleOffer' | translate}}">
                            </div>
                            <div class="col-5 cut-text msg-exch">
                            <strong> {{chat.exchange}}</strong>
                            <img src="images/up-arrow.png" alt="">
                          </div>
                          </div>

                          <div class="msg-comm">
                            <strong> {{chat.comment}}</strong>
                          </div>

                      </div>
                      <div class="">
                        <div class="col- card-footer chat-date-me chat-opt-mini">
                          <img class="" src="images/accept-icon.png" alt="" ng-if="chat.answered && chat.accepted">
                          <img class="" src="images/reject-icon.png" alt="" ng-if="chat.answered && !chat.accepted">
                          {{getDate(chat.publishDate)[0]}}
                          {{getHour(chat.publishDate)[0]}}
                          <div class="col- pull-right">
                            <div ng-if="chat.seen" style="font-weight: bold; color: black">
                              <img src="images/double-tick.png" style="width: 15px; height: auto">
                              {{'msgSeen' | translate}}</div>
                            <div ng-if="!chat.seen" style="font-weight: bold; color: black">
                              <img src="images/tick.png" style="width: 15px; height: auto">
                              {{'msgNotSeen' | translate}}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>

<!--        <div class="row chat-options">-->
<!--            <div class="col-6">-->
<!--              <a ng-click="" class="btn btn-success btn-project"  type="button">-->
<!--                <div class="chat-opt">-->
<!--                  <img class="" src="images/accept-icon.png" alt="">-->
<!--                </div>-->
<!--              </a>-->
<!--            </div>-->

<!--            <div class="col-6">-->
<!--              <a ng-click="" class="btn btn-danger btn-project"  type="button" data-toggle="collapse"-->
<!--                 data-target="#newoffer" aria-expanded="false" aria-controls="newoffer">-->
<!--                <div class="chat-opt">-->
<!--                  <img class="" src="images/reject-icon.png" alt="">-->
<!--                </div>-->
<!--              </a>-->
<!--            </div>-->
<!--        </div>-->



      </div>
      <div class="row">
        <div class="center-collapse" id="newoffer" ng-show="offerEnabled">
          <ng-form name="sendOfferForm">
            <div class="card chat-offer">
              <div class="card-header">
                <div class="row">
                  <img class="nav-icon" src="/images/chat-icon.png" alt="">
                  <h5>{{ 'sendoffer' | translate }}</h5>
                </div>
              </div>
              <div class="card-body offer-body row">
                <div class="col-11">
                  <div class="row chat-input">
                    <div class="col-2" ng-class="{'has-error': sendOfferForm.offer.$touched && sendOfferForm.offer.$invalid}">
                      <p class="form-requirement">{{'offerRequirement' | translate}}</p>
                      <input style="color: black !important;" name="offer" ng-model="controller.offerForm.offer" type="number" class="form-control" placeholder="{{'msgTitleOffer' | translate}}" id="msg-offer-title"
                             required min="100" max="1000000000" step="1" no-float/>
                    </div>
                    <div class="col-4" ng-class="{'has-error': sendOfferForm.exchange.$touched && sendOfferForm.exchange.$invalid}">
                      <p class="form-requirement">{{'exchangeRequirement' | translate}}</p>
                      <input style="color: black !important;" name="exchange" ng-model="controller.offerForm.exchange" type="text" class="form-control" placeholder="{{'msgTitleRequest' | translate}}" id="msg-req-title"
                             required ng-maxlength="100"/>
                    </div>
                    <div class="col-2" ng-class="{'has-error': sendOfferForm.expDays.$touched && sendOfferForm.expDays.$invalid}">
                      <p class="form-requirement">{{'daysRequirement' | translate}}</p>
                      <input style="color: black !important;" name="expDays" ng-model="controller.offerForm.expiryDays" type="number" class="form-control" placeholder="{{'expire' | translate}}" id="msg-days-title"
                             required min="1" max="31" step="1" no-float/>
                      <!--                      <select id="expire" class="custom-select mr-sm-2">-->
                      <!--                        <option value="0">{{'expire' | translate}}</option>-->
                      <!--                        <option ng-repeat="x in [].constructor(30) track by $index"> {{$index+1}} days</option>-->
                      <!--                      </select>-->
                    </div>
                    <div class="col-4" ng-class="{'has-error': sendOfferForm.comment.$touched && sendOfferForm.comment.$invalid}">
                      <p class="form-requirement chat-text2">{{'commentRequirement' | translate}}</p>
                      <textarea style="color: black !important;" name="comment" ng-model="controller.offerForm.comment" class="chat-text2 form-control" placeholder="{{'comments' | translate}}" rows="2" id="msg-comment-title"
                                required ng-maxlength="250"></textarea>
                    </div>
                  </div>
                </div>
                <div class="col-1">
                  <a class="btn btn-inv pull-right" data-toggle="modal" data-target="#confirmsend" ng-class="{disabled: sendOfferForm.$invalid}">
                    <img class="send-icon" src="/images/send-icon.png" alt="">
                  </a>
                </div>
              </div>
            </div>
          </ng-form>
        </div>
      </div>

<!--      <div class="col-1">-->
<!--        <div class="row chat-options" ng-show="responseEnabled">-->
<!--          <div class="col-">-->
<!--            <a class="btn chat-opt" type="button" data-toggle="modal" data-target="#confirmaccept">-->
<!--              <div class="chat-opt">-->
<!--                <img class="" src="images/accept-icon.png" alt="">-->
<!--              </div>-->
<!--            </a>-->
<!--          </div>-->
<!--          <div class="col-">-->
<!--            <a ng-click="rejectOffer()" class="btn chat-opt"  type="button" data-toggle="collapse"-->
<!--               data-target="#newoffer" aria-expanded="false" aria-controls="newoffer">-->
<!--              <div class="chat-opt">-->
<!--                <img class="" src="images/reject-icon.png" alt="">-->
<!--              </div>-->
<!--            </a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

    </div>
</div>


<div class="modal fade" id="confirmsend" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog popup" role="document">
    <div class="modal-content mx-auto my-auto">
      <div class="modal-header">
        <h5 class="modal-title">
          <strong>{{'confSend' | translate : { days: chat.expInDays } }}</strong>
        </h5>
      </div>
      <div class="modal-body">
        {{'confSendBody' | translate }}
      </div>
      <div class="modal-footer">
        <div class="row">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            {{'cancel' | translate }}
          </button>
          <a ng-click="sendOffer(controller.offerForm)" type="button" class="btn btn-success" data-dismiss="modal" style="color: white">
            {{'send' | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="confirmaccept" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog popup" role="document">
    <div class="modal-content mx-auto my-auto">
      <div class="modal-header">
        <h5 class="modal-title">
          <strong>{{'confAccept' | translate }}</strong>
        </h5>
      </div>
      <div class="modal-body">
        {{'confAcceptBody' | translate }}
      </div>
      <div class="modal-footer">
        <div class="row">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            {{'cancel' | translate }}
          </button>
          <a ng-click="acceptOffer()" type="button" class="btn btn-success" data-dismiss="modal" style="color: white">
            {{'confirm' | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<footer>-->
<!--  <vnfooter></vnfooter>-->
<!--</footer>-->

