<head><title> {{ 'dashboard' | translate}} | VestNet</title></head>

<body ng-controller="dashboardCtrl">

<!--<vnheader></vnheader>-->

<!--  <div class="col-1"></div>-->
<!--  <div class="col-4"><strong class="tab-title2">{{'myProjects' | translate}}</strong></div>-->
<!--  <div class="col-3"></div>-->
<!--  <div class="col-4">-->
<!--    <input type="checkbox" onchange=" " data-toggle="toggle"-->
<!--           data-on="{{'showAccProj' | translate}}" data-off="{{'showCurrProj' | translate}}"-->
<!--           data-onstyle="dark" data-offstyle="white" id="funded-toggle"-->
<!--           checked >-->

  <toggleswitch name="funded" ng-model="funded" on="{{'showAccProj' | translate}}" off="{{'showCurrProj' | translate}}" class="sep-nav wide"></toggleswitch>

  <div class="dashboard">
  <div class="card-group" ng-repeat="project in getList()">
    <span class="anchor-header" id="dashboard-project-{{project.id}}"></span>
    <div class="container py-3">
      <div class="card msg">

        <div class="row">
          <div class="col-1">
            <div ng-if="project.portraitExists">
              <img ng-src="data:image/JPEG;base64,{{project.image}}" class="p-img"/>
            </div>
            <div ng-if="!project.portraitExists">
              <img ng-src="images/projectNoImage.png" class="p-img"/>
            </div>
          </div>
          <div class="col-md-11">
            <div class="card-block">
              <div class="row">
                <div class="col-8">
                  <a ng-href="#/projects/{{project.id}}" class="btn-link2"><h4 class="">{{project.name}}</h4></a>
                </div>
                <div class="col-1">
                  <a ng-href="#/editProject" class="btn btn-inv btn-project pull-right">
                    <div class="notification-icon">
                      <img class="nav-icon" src="images/edit-icon-b.png" alt="">
                    </div>
                  </a>
                </div>
                <div class="col-1">
                  <a ng-click="fetchMessage(project.id, $index)" class="btn btn-inv btn-project pull-right "  type="button" data-toggle="collapse"
                     data-target="#chatcollapse{{project.id}}" aria-expanded="false" aria-controls="chatcollapse{{project.id}}">
                    <div class="notification-icon">
                        <img class="nav-icon" src="images/chat-icon-b.png" alt="">
                        <span ng-if="project.msgCount != 0" class="badge bg-danger">{{project.msgCount}}</span>
                    </div>
                  </a>
                </div>
                <div class="col-1">
                  <a ng-click="fetchOffers(project.id, $index)" class="btn btn-inv btn-project pull-right"  type="button" data-toggle="collapse"
                     data-target="#fundcollapse{{project.id}}" aria-expanded="false" aria-controls="fundcollapse{{project.id}}">
                    <div class="notification-icon">
                      <img class="nav-icon" src="images/pig-icon-b.png" alt="">
                    </div>
                  </a>
                </div>
                <div class="col-1">
                  <a ng-click="fetchStats(project.id, $index)" class="btn btn-inv btn-project pull-right"  type="button" data-toggle="collapse"
                     data-target="#statscollapse{{project.id}}" aria-expanded="false" aria-controls="statscollapse{{project.id}}">
                    <div class="notification-icon">
                      <img class="nav-icon" src="images/stats-icon-b.png" alt="">
                    </div>
                  </a>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="center-collapse collapse" id="chatcollapse{{project.id}}">
        <div ng-if="messages[$index].length > 0">
          <div class="card msg-collapse" ng-repeat="message in messages[$index]">
            <div class="card-body dash-body">
              <div class="row">
                <div class="col-1">
                  <img class="nav-icon" src="/images/chat-icon-b.png" alt="">
                </div>
                <div class="col-3">
                  <strong>{{'investor' | translate}}:</strong>  {{message.investor}}
                </div>
                <div class="col-7">
                  <strong>{{'lastChat' | translate}}:</strong>
                  <i>{{message.body}}</i>
                </div>
                <div class="col-1">
                  <a ng-href="#{{message.chatUrl}}" class="btn btn-inv pull-right">
                    <img src="/images/black-arrow.png" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div ng-if="project.msgPage < project.maxPage">
            <button ng-click="viewMore(project.id, $index)" class="btn btn-inv pull-right">
              <h5 class="view-more pull-right"> {{'viewmore' | translate}}</h5>
            </button>
          </div>
        </div>
        <div ng-if="messages[$index].length == 0">
          <div class="card msg-collapse">
            <div class="card-body dash-body">
              <div class="row">
                <div class="col-1">
                  <img class="nav-icon" src="/images/chat-icon-b.png" alt="">
                </div>
                <div class="col-3">
                  <strong>No messages</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="center-collapse collapse" id="fundcollapse{{project.id}}">
        <div ng-if="fundedMsgs[$index].length > 0">
          <div class="card msg-collapse" ng-repeat="message in fundedMsgs[$index]">
            <div class="card-body dash-body">
              <div class="row">
                <div class="col-1">
                  <img class="nav-icon" src="/images/pig-icon-b.png" alt="">
                </div>
                <div class="col-3">
                  <strong>{{'investor' | translate}}:</strong>  {{message.investor}}
                </div>
                <div class="col-4">
                  <strong>{{'msgTitleOffer' | translate}}</strong> {{message.offer}}
                </div>
                <div class="col-4">
                  <strong>{{'msgTitleRequest' | translate}}</strong> {{message.exchange}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="project.offerPage < project.maxPageOffer">
          <button ng-click="viewMoreOffers(project.id, $index)" class="btn btn-inv pull-right">
            <h5 class="view-more pull-right"> {{'viewmore' | translate}}</h5>
          </button>
        </div>
        <div ng-if="fundedMsgs[$index].length == 0">
          <div class="card msg-collapse">
            <div class="card-body dash-body">
              <div class="row">
                <div class="col-1">
                  <img class="nav-icon" src="/images/pig-icon-b.png" alt="">
                </div>
                <div class="col-3">
                  <strong>{{'nooffers' | translate}}</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="center-collapse collapse" id="statscollapse{{project.id}}">
        <div class="card msg-collapse-stats">
          <div class="card-body dash-body">
            <div class="row">
              <div class="col-1">
                <img class="nav-icon" src="/images/stats-icon-b.png" alt="">
              </div>
              <div class="col-2">
                <strong>{{'clicksAvg' | translate}}</strong>
              </div>
              <div class="col-2">{{project.clicksAvg}}</div>
              <div class="col-2">
                <strong>{{'secondsAvg' | translate}}</strong>
              </div>
              <div class="col-">{{project.secondsAvg}}</div>
            </div>
            <div class="row">
              <div class="col-1"></div>
              <div class="col-2">
                <strong>{{'seen' | translate}}</strong>
              </div>
              <div class="col-2">{{project.seen}}</div>
              <div class="col-2">
                <strong>{{'contactClicks' | translate}}</strong>
              </div>
              <div class="col-">{{project.contactClicks}}</div>
            </div>
            <div class="row">
              <div class="col-1"></div>
              <div class="col-2">
                <strong>{{'investorsSeen' | translate}}</strong>
              </div>
              <div class="col-2">{{project.investorsSeen}}</div>
              <div class="col-2">
                <strong>{{'lastSeen' | translate}}</strong>
              </div>
              <div class="col-">{{project.lastSeen}}</div>
            </div>
          </div>
        </div>


      </div>

    </div>
    </div>

    <div ng-if="projects.empty()" class="card no-proj-mine">
      <div class="card-header text-center">
        <div ng-switch="true">
          <div ng-switch-when="true">
            <h5 class="card-title text-white centered">{{'noProjFunded' | translate }}</h5>
          </div>
          <div ng-switch-when="false">
            <h5 class="card-title text-white centered">{{'noProjOwned' | translate }}</h5>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="text-center add-new mt-5 mb-5">
    <a href="#/newProject" class="btn btn-lg"> {{'addProject' | translate}} </a>
  </div>

<!--  <footer>-->
<!--    <vnfooter></vnfooter>-->
<!--  </footer>-->

</body>
