<head><title> {{ 'pageTitleDashboard' | translate}}</title></head>

<!--<vnheader></vnheader>-->

  <toggleswitch name="funded" ng-model="funded" ng-change="toggleChange" on="{{'showAccProj' | translate}}" off="{{'showCurrProj' | translate}}" class="sep-nav wide"></toggleswitch>

  <div class="row">
    <div class="col-12">
      <pagination></pagination>
    </div>
  </div>

  <div class="text-center" ng-if="isLoading()">
    <div class="spinner-grow text-dark loading-grow" role="status" style="margin-top: 10px"></div>
  </div>

  <div class="dashboard">
    <div class="card-group" ng-repeat="project in getList()">
      <span class="anchor-header" id="dashboard-project-{{project.id}}"></span>
      <div class="container py-3">
        <div class="card msg">

          <div class="row">
            <div class="col-1">
              <div ng-if="project.portraitExists">
                <img ng-src="data:image/JPEG;base64,{{project.image}}" class="p-img"/>
              </div>
              <div ng-if="!project.portraitExists">
                <img ng-src="images/projectNoImage.png" class="p-img"/>
              </div>
            </div>
            <div class="col-md-11">
              <div class="card-block">
                <div class="row">
                  <div ng-if="!funded" class="col-8">
                    <a ng-href="#/projects/{{project.id}}" class="btn-link2"><h4 class="">{{project.name}}</h4></a>
                  </div>
                  <div ng-if="funded" class="col-9">
                    <a ng-href="#/projects/{{project.id}}" class="btn-link2"><h4 class="">{{project.name}}</h4></a>
                  </div>
                  <div class="col-1">
                    <a ng-href="#{{project.editUrl}}" class="btn btn-inv btn-project pull-right">
                      <div class="notification-icon">
                        <img class="nav-icon" src="images/edit-icon-b.png" alt="">
                      </div>
                    </a>
                  </div>
                  <div class="col-1">
                    <a ng-click="fetchMessage(project.id, $index)" class="btn btn-inv btn-project pull-right "  type="button" data-toggle="collapse"
                       data-target="#chatcollapse{{project.id}}" aria-expanded="false" aria-controls="chatcollapse{{project.id}}">
<!--                      TODO: Ver si hay alguna forma mejor de reservar el espacio para cuando se oculta-->
                      <div class="notification-icon">
                        <img class="nav-icon" src="images/chat-icon-b.png" alt="">
                        <span ng-show="project.msgCount !== 0" class="badge bg-danger">{{project.msgCount}}</span>
                        <span ng-show="project.msgCount === 0" class="badge bg-danger" style="visibility: hidden">{{project.msgCount}}</span>
                      </div>
                    </a>
                  </div>
                  <div class="col-1">
                    <a ng-click="fetchOffers(project.id, $index)" class="btn btn-inv btn-project pull-right"  type="button" data-toggle="collapse"
                       data-target="#fundcollapse{{project.id}}" aria-expanded="false" aria-controls="fundcollapse{{project.id}}">
                      <div class="notification-icon">
                        <img class="nav-icon" src="images/pig-icon-b.png" alt="">
                      </div>
                    </a>
                  </div>
                  <div class="col-1">
                    <a ng-if="!funded" ng-click="fetchStats(project.id, $index)" class="btn btn-inv btn-project pull-right"  type="button" data-toggle="collapse"
                       data-target="#statscollapse{{project.id}}" aria-expanded="false" aria-controls="statscollapse{{project.id}}">
                      <div class="notification-icon">
                        <img class="nav-icon" src="images/stats-icon-b.png" alt="">
                      </div>
                    </a>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      <div class="px-5 center-collapse collapse" id="chatcollapse{{project.id}}">
        <div ng-if="messages[$index].length > 0">
          <div class="card msg-collapse" ng-repeat="message in messages[$index]">
            <div class="card-body dash-body" style="padding:10px 20px !important">
              <div class="row">
                <div class="col-1">
                  <img class="nav-icon" src="images/chat-icon-b.png" alt="">
                </div>
                <div class="col-3 cut-text ww-last">
                  <h6 class="ww-last">{{toLocaleDateTimeString(message.publishDate)}}</h6>
                  {{'fullName' | translate : { firstName: message.firstName, lastName: message.lastName } }}
                </div>
                <div class="col-7 ww-last">
                  <div class="row">
                    <div class="col-3 msg-offer cut-text">
                      <img src="images/down-arrow.png" alt="">
                      {{message.offer}}
                    </div>
                    <div class="col-4 msg-exch cut-text">
                      <img src="images/up-arrow.png" alt="">
                      {{message.exchange}}
                    </div>
                    <div class="col-5 ww-last cut-text">
                      <h6><i>{{message.comment}}</i></h6>
                    </div>
                  </div>
                </div>
                <div class="col-1">
                  <a ng-click="goToChat(message)" class="btn btn-inv pull-right">
                    <img src="images/black-arrow.png" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div ng-if="project.nextPageMessages">
            <button ng-click="viewMore(project.id, $index)" class="btn btn-inv pull-right">
              <h5 class="view-more pull-right"> {{'viewmore' | translate}}</h5>
            </button>
          </div>
        </div>
        <div ng-if="messages[$index].length == 0">
          <div class="card msg-collapse">
            <div class="card-body dash-body">
              <div class="row">
                <div class="col-1">
                  <img class="nav-icon" src="images/chat-icon-b.png" alt="">
                </div>
                <div class="col-3">
                  <strong>{{'nomessages' | translate}}</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="px-5 center-collapse collapse" id="fundcollapse{{project.id}}">
        <div ng-if="fundedMsgs[$index].length > 0">
          <div class="card msg-collapse" ng-repeat="message in fundedMsgs[$index]">
            <div class="card-body dash-body">
              <div class="row">
                <div class="col-1">
                  <img class="nav-icon" src="images/pig-icon-b.png" alt="">
                </div>
                <div class="col-3 cut-text">
                  {{'fullName' | translate : { firstName: message.firstName, lastName: message.lastName } }}
                </div>
                <div class="col-7 ww-last">
                  <div class="row">
                    <div class="col-5 msg-offer cut-text">
                      <img src="images/down-arrow.png" alt="">
                      {{message.offer}}
                    </div>
                    <div class="col-7 msg-exch cut-text">
                      <img src="images/up-arrow.png" alt="">
                      {{message.exchange}}
                    </div>
                  </div>
                </div>
                <div class="col-1">
                  <img class="nav-icon a" src="images/accept-icon.png" style="border-radius: 50%">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="project.nextPageOffer">
          <button ng-click="viewMoreOffers(project.id, $index)" class="btn btn-inv pull-right">
            <h5 class="view-more pull-right"> {{'viewmore' | translate}}</h5>
          </button>
        </div>
        <div ng-if="fundedMsgs[$index].length == 0">
          <div class="card msg-collapse">
            <div class="card-body dash-body">
              <div class="row">
                <div class="col-1">
                  <img class="nav-icon" src="images/pig-icon-b.png" alt="">
                </div>
                <div class="col-3">
                  <strong>{{'nooffers' | translate}}</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="px-5 center-collapse collapse" id="statscollapse{{project.id}}">
        <div class="card msg-collapse-stats">
          <div class="card-body dash-body">
            <div class="row">
              <div class="col-1"> <img class="nav-icon" src="images/stats-icon-b.png" alt=""> </div>
              <div class="col-2"> <span class="stat-number">{{project.seen}}</span> <span class="stat-title"> {{'seen' | translate}}</span> </div>
              <div class="col-2"> <span class="stat-number1">{{project.investorsSeen}}</span> <span class="stat-title">{{'investorsSeen' | translate}}</span> </div>
              <div class="col-2"> <span class="stat-number2">{{project.contactClicks}}</span> <span class="stat-title"> {{'contactClicks' | translate}}</span> </div>
              <div class="col-3"> <span class="stat-number3">{{millisToMinSec(project.secondsAvg)}}</span> <span class="stat-title"> {{'minutesAvg' | translate}}</span> </div>
              <div class="col-2"> <span class="stat-number4">{{project.clicksAvg}}</span> <span class="stat-title"> {{'clicksAvg' | translate}}</span> </div>
            </div>
            <div class="row" style="margin-top: 10px">
              <div class="col-1"></div>
              <div class="col-4">
                <div class="progress" style="height: 12px; width:260px; margin-bottom: 0">
                  <div class="progress-bar progress-bar-striped progress-bar-animated stat-bar" role="progressbar" style="width: {{(project.investorsSeen/project.seen)*100}}%" aria-valuenow="{{(project.investorsSeen/project.seen)*100}}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="stat-title2" style="margin-left: 30%"><b style="color: #f3a047">{{project.investorsSeen}}</b> {{'outof' | translate}} <b style="color: #5bc0de">{{project.seen}}</b></span>
              </div>
              <div class="col-2"></div>
              <div class="col-5">
                <span class="stat-date" style="margin-left: 10px">{{toLocaleDateTimeString(project.lastSeen)}}</span> <span class="stat-title"> {{'lastSeen' | translate}}</span>
                <span class="stat-number5"> &raquo; &nbsp;</span>
                <span class="stat-number5">{{daysAgo(project.lastSeen)}}</span> <span class="stat-title"> {{'daysAgo' | translate}}</span>
              </div>
            </div>
<!--            <div class="row">-->
<!--              <div class="col-1">-->
<!--                <img class="nav-icon" src="/images/stats-icon-b.png" alt="">-->
<!--              </div>-->
<!--              <div class="col-2">-->
<!--                <strong>{{'seen' | translate}}</strong>-->
<!--              </div>-->
<!--              <div class="col-4">{{project.seen}}</div>-->
<!--              <div class="col-3">-->
<!--                <strong>{{'minutesAvg' | translate}}</strong>-->
<!--              </div>-->
<!--              <div class="col-">{{millisToMinSec(project.secondsAvg)}} {{'minutes' | translate}}</div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--              <div class="col-1"></div>-->
<!--              <div class="col-2">-->
<!--                <strong>{{'investorsSeen' | translate}}</strong>-->
<!--              </div>-->
<!--              <div class="col-4">{{project.investorsSeen}}</div>-->
<!--              <div class="col-3">-->
<!--                <strong>{{'clicksAvg' | translate}}</strong>-->
<!--              </div>-->
<!--              <div class="col-2">{{project.clicksAvg}}</div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--              <div class="col-1"></div>-->
<!--              <div class="col-2">-->
<!--                <strong>{{'lastSeen' | translate}}</strong>-->
<!--              </div>-->
<!--              <div class="col-4">{{toLocaleDateTimeString(project.lastSeen)}}</div>-->
<!--              <div class="col-3">-->
<!--                <strong>{{'contactClicks' | translate}}</strong>-->
<!--              </div>-->
<!--              <div class="col-2">{{project.contactClicks}}</div>-->
<!--            </div>-->
          </div>
        </div>
      </div>

    </div>
  </div>

    <div ng-if="getList().length === 0" class="card no-proj-mine">
      <div class="card-header text-center">
        <div ng-switch="funded">
          <div ng-switch-when="true">
            <h5 class="card-title text-white centered">{{'noProjFunded' | translate }}</h5>
          </div>
          <div ng-switch-when="false">
            <h5 class="card-title text-white centered">{{'noProjOwned' | translate }}</h5>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="text-center add-new mt-5 mb-5">
    <a href="#/newProject" class="btn btn-lg"> {{'addProject' | translate}} </a>
  </div>

<!--  <footer>-->
<!--    <vnfooter></vnfooter>-->
<!--  </footer>-->

