
/*.btn-default{*/
/*    background-color: #750096;*/
/*    color: #ffffff;*/
/*    border: #53006d;*/
/*}*/

/*.btn-default:hover{*/
/*    background-color: #53006d;*/
/*    color: #ffffff;*/
/*    border: #53006d;*/
/*}*/

.proj-img{
  min-width: 100% !important;
  height: auto !important;
}

.btn-transp{
  background-color: Transparent;
  border: none !important;
}

.header-white{
  background-color: white !important;
}

.single-header{
  padding: 5px 0 0 0 !important;
  border: transparent !important;
}

/* Container holding the image and the text */
.container-img {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */
.centered-txt {
  position: absolute;
  top: 73%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  text-shadow: 2px 2px black;
  font-size: 30px;
}
.bottom-txt{
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  text-shadow: 2px 2px black;
  font-size: 18px;
}

.container-contact{
  margin:15px;
}

.contact{
  margin-right:10%;
  margin-left:auto;
  margin-bottom:50px;
}

.label-header{
  margin: 15px;
  font-size:large;
  text-shadow: 2px 2px #dee2e6;
  font-weight:400;
}

.formError {
  color: red;
}

.description{
  /*     margin-left:100px !important; */
  width:570px !important;
}

.dropdown-item{
  padding: 5px 5px 0 15px !important
}


.d-flex .btn-block{
  margin-bottom:20px
}

.contact-btn{
  width: 92% !important;
  background-color: #313131 !important;
  color: white !important;
  font-variant: all-petite-caps;
  font-size: 30px !important;
  font-weight: bold !important;
}

.contact-img{
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.single-card{
  padding: 15px 25px 25px 25px !important;
  max-height: 620px !important;
}

.categories-size{
  margin-left: 8%;
  -moz-column-count:2;
  -moz-column-gap:20px;
  -webkit-column-count:2;
  -webkit-column-gap:20px;
  column-count:2;
  column-gap:20px;
  list-style-type: none;
  text-align: center
}

.categories-size li{
  border: solid 0.1px #d2d2d2 !important;
  margin-bottom:5px;
  width:80%;
  border-radius:100px
}

.history-group{
  margin: 10px auto 0 auto;
  width: 93%;
}

.h-step{
  height: 50px;
  border-radius: 10px 10px 0 0;
}
.h-step h5{
  color: #000000;
  font-variant: all-petite-caps;
  text-align: center;
}
.bg-orange{
  background-color: orange !important;
}
.border-orange{
  background-color: white !important;
  border: solid 1px orange !important;
}
.bg-cyan{
  background-color: #c7de2b !important;
}
.border-cyan{
  background-color: white !important;
  border: solid 1px #c7de2b !important;
}
.my-bar-steps{
  background-color: #b9b9b9 !important;
}

.bar-red{
  background-color: #dc4545 !important;

}
.bar-orange{
  background-color: orange !important;

}
.bar-yellow{
  background-color: #fbc129 !important;
}
.bar-cyan{
  background-color: #c7de2b !important;
}
.bar-green{
  background-color: #4fa845 !important;
}
.my-bar-steps0{
  height: 9px !important;
  margin: 47px auto 0 auto;
  width: 93%;
}

.stage-name {
  border: none !important;
  font-variant:all-petite-caps;
  font-size: 20px !important;
  text-align: center !important
}
.stage-body{
  padding: 0 !important;
}
.stage-body .card-title{
  margin-top: 10px
}
.stage-body input{
  color: #000000;
  font-variant: all-petite-caps;
  text-align: center;
  margin-bottom:10px !important
}

.stage-body .card-text{
  min-height: 140px
}

.blockquote-footer a{
  color: #750096;
  text-underline: none;
}
.blockquote-footer a:hover{
  color: black;
  text-decoration: underline;
}

.soon-img{
  margin: 30px 25px !important;
  width: auto;
  height: 60px;
}

.edit-icon{
  width: 20px !important;
  height: auto !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  position: absolute;
  z-index: -1;
  top:150px;
  outline: black !important;
}

.cat-size{
  font-size: medium;
}

.single-name{
  margin-bottom: 0 !important;
}
