.navbar{
  top:0;
  width:100%;
  position: fixed !important; /* Fixed Sidebar (stay in place on scroll) */
  z-index:500;
  height:70px
}

.navbar-custom {
  color: #750096;
  background-color: #222222;
}

.navbar-custom2 {
  color: #000000;
  background-color: #b1b1b1;
}

.navbar-custom3 {
  color: #000000;
  background-color: white;
}

.navbar-brand img
{
  position: relative;
  width: 60px;
  height: 60px;
}

.logo-header {
  margin: 0 0 0 0 !important;
  padding: 0 !important
}

.logo-text {
  color: #750096; font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  margin: auto 30px auto 15px;
}

.logopurple {
  color: #750096;
  background-color: #750096 !important;
}

.logo-text:active, .logo-text:hover {
  color: #53006d;
  text-decoration: none;    font-family: 'Lato', sans-serif;
}

.dropdown-item{
  font-family: 'Lato', sans-serif
}

.searchButt{
  background-color: #53006d;
  color: #ffffff;
}
.topnav-right {
  float: right;
  margin: auto;
  padding: 5px
}

body{
  overflow-x: hidden;
}

.sep-nav{
  margin-top:90px !important;
}
.sep-nav2{
  margin-top:120px !important;
}

//body text, a, strong, p, h1, h2, h2.bold, h3, h4, h5, h6, label, span,
//.btn, a.page-link, .msg-title, .msg-content, .row, .modal,
//.custom-form-input, .custom-form-file,.custom-form-select{
//  font-family: 'Lato', sans-serif;
//}

.btn-black{
  min-width:50px;
  max-width: 60px;
}

.logopurple{
  min-width:60px
}

.text-icon{
  font-size: 10px;
  margin-right:auto !important;
  margin-left:auto !important;
  margin-top:3px
}

.header-icon{
  padding: 0 !important;
  margin-left:10px !important
}

.navbar-nav{
  margin-left:auto
}

.nav-item{
  padding: 0 !important;
  margin: 0 !important
}

.btn-dark{
  min-width:60px
}

.nav-icon{
  width: 30px;
  height: 30px;
}

.btn-header{
  padding: 0 !important;
  margin-left: 40px !important;
  margin-right: 0 !important;
  border: none !important;
  background: none !important;
}

.dropdown-toggle:after {
  border: none !important;
}

.dropdown-divider-header{
  margin-top:1px;
  margin-bottom:1px;
  border:solid 0.5px #adadadad
}

.test-input{
  width: 30px;
}

/***** FOOTER ******/

footer{
  margin-top:18%;
  background-color: #2d2d2d !important;
  color: white;
}

@media screen and (min-width: 300px){
  .footer{
    margin-top: 20%;
    color: yellow;
  }
}

.footer-copyright{
  background-color: #222222;
  color: #a7a7a7;
  font-size:18px;
  margin-top:20px
}

.footer-content{
  padding: 30px 0 0 100px;
}

footer li{
  margin-top:28px;
  font-size:18px
}

footer li>a{
  color: #ffffff;
}

footer li>a:hover{
  color: white;
}

footer p{
  font-size:15px;
  color:grey
}

footer h5{
  font-variant:all-petite-caps;
  color:#9700c2
}

footer .dropdown-divider{
  margin: 5px 20% 20px 20%;
  background-color:black;
  border-color:#464646
}

.footer-footer > h6{
  color: #d6d6d6;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  text-align:center
}
