.signUp, .signUp .form-control, .signUp .custom-select {
  font-size: 14px !important;
}

.btn{
  font-size: 16px;
}

.signUp, .welcome-full{
  padding-bottom: 20%;
  background-image: url("/images/signupBack.png");
  background-size:100%;
  background-repeat: repeat;
}

.login{
  background: none !important;
}

.signupCard{
  margin-top:4% !important;
  margin-bottom:4% !important;
}

.signUp h2 {
  line-height: 1.66;
  margin: 30px;
  padding: 0;
  font-weight: 900;
  color: #222;
  /*font-family: Arial;*/
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}

.signup-btn{
  margin-top:20px
}

.location-vertical{
  margin-top: 9px !important;
}
