<!--<head>-->
<!--  &lt;!&ndash; build:css(.tmp) styles/signin.css &ndash;&gt;-->
<!--  <link rel="stylesheet" href="styles/signin.css">-->
<!--  &lt;!&ndash; endbuild &ndash;&gt;-->
<!--</head>-->

<body ng-controller="resetPasswordCtrl">

<div class="sidenav sidenav-index">
  <div class="text-center mt-5">
    <a ng-href="/">
      <img class="logo-img" src="images/logo_bp.png">
    </a>
  </div>
</div>

<div class="main">
  <div class="col-md-8">
    <div class="login-form">
      <div class="text-left my-2">
        <a ng-href="/#/" class="btn btn-outline-dark pull-left">{{'home' | translate}}</a><br><br>
<!--        RESOLVER ESE VILLERO BRBR-->
      </div>
      <ng-form name="passwordForm">
      <h4>{{ 'resetPasswordTitle' | translate }}</h4>
        {{ 'resetPasswordSubtitle' | translate : '{ email: "a@b.com"}' }}
        <div class="form-group">
          <label> {{ 'password' | translate }}</label>
          <input type="password" class="form-control"
                 placeholder="{{ 'enterPassword' | translate }}" id="reset-password"/>
<!--          <ng-form errors path="password" element="p" cssClass="formError"/>-->
        </div>
        <div class="form-group">
          <label>{{ 'repeatPassword' | translate }} </label>
          <input type="password" class="form-control"
                 placeholder="{{ 'enterRepeatPassword' | translate }}" id="reset-repeat-password"/>
<!--          <form:errors cssClass="formError" element="p"/>-->
        </div>
        <input value="var email" type="hidden"/>
        <input value="ej token" type="hidden"/>

        <input type="submit" class="btn btn-dark" value="{{ 'changePassword' | translate }}"/>
      </ng-form>
    </div>
  </div>
</div>

</body>

