
<head><title> {{ 'resetPassword' | translate}} | VestNet</title></head>

<div class="sidenav sidenav-index">
  <div class="text-center mt-5">
    <a ng-href="/">
      <img class="logo-img" src="images/logo_bp.png">
    </a>
  </div>
</div>

<div class="main">
  <div class="col-md-8">
    <div class="login-form">
      <div class="text-left my-2">
        <a ng-href="/#/" class="btn btn-outline-dark pull-left">{{'home' | translate}}</a><br><br>
<!--        RESOLVER ESE VILLERO BRBR-->
      </div>
      <ng-form name="resetPasswordForm">
      <h4>{{ 'resetPasswordTitle' | translate }}</h4>
        {{ 'resetPasswordSubtitle' | translate }}
        <div class="form-group" ng-class="{'has-error': resetPasswordForm.password.$touched && resetPasswordForm.password.$invalid}">
          <label> {{ 'password' | translate }}</label>
          <p class="form-requirement">{{'passwordRequirement' | translate}}</p>
          <input name="password" ng-model="controller.block.password" type="password" class="form-control"
                 placeholder="{{ 'enterPassword' | translate }}" id="reset-password"
                 required ng-maxlength="50"/>
<!--          <ng-form errors path="password" element="p" cssClass="formError"/>-->
        </div>
        <div class="form-group" ng-class="{'has-error': resetPasswordForm.repeatPassword.$touched && resetPasswordForm.repeatPassword.$invalid}">
          <label>{{ 'repeatPassword' | translate }} </label>
          <input name="repeatPassword" ng-model="controller.block.repeatPassword" type="password" class="form-control"
                 placeholder="{{ 'enterRepeatPassword' | translate }}" id="reset-repeat-password"
                 required ng-maxlength="50" ng-pattern="controller.block.password"/>
<!--          <form:errors cssClass="formError" element="p"/>-->
        </div>

        <input type="submit" class="btn btn-dark" value="{{ 'changePassword' | translate }}"
               ng-click="resetPassword(controller.block)" ng-disabled="resetPasswordForm.$invalid"/>
      </ng-form>
    </div>
  </div>
</div>

</body>

