
<div class="row footer-content">
  <div class="col-8">
    <h5>{{'footerWho' | translate}}</h5>
    <div class="row">
      <div class="col-7">
        <h6>{{'wIAsk' | translate}}</h6>
        <p>{{'wIp1' | translate}} {{'wIp3' | translate}}</p>
      </div>
      <div class="col-5">
        <h6>{{'wEAsk' | translate}}</h6>
        <p>{{'wEp1' | translate}}</p>
      </div>
    </div>
  </div>
  <div class="col-4">
    <h5>{{'footerContact' | translate}}</h5>
    <ul>
      <li>{{'footerPhone' | translate}} +54 11 0000 0000</li>
      <li>{{'footerMail' | translate}}  <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=noreply.vestnet@gmail.com&tf=1"> noreply.vestnet@gmail.com </a></li>
      <li> <a href="https://www.linkedin.com/in/vestnet"> {{'footerLkdn' | translate}} </a></li>
    </ul>
  </div>
</div>

<!--    <div class="dropdown-divider"></div>          -->
<!--    <div class="footer-footer">                   -->
<!--    <h6><spring:message code='w_subtitle'/></h6>  -->
<!--    <h6><spring:message code='w_bepart'/></h6>    -->
<!--    </div>                                        -->

<div class="footer-copyright text-center">
  {{'footerCopyright' | translate}}
</div>
