<!--<head>-->
<!--    &lt;!&ndash; build:css(.tmp) styles/general.css &ndash;&gt;-->
<!--    <link rel="stylesheet" href="styles/general.css">-->
<!--    &lt;!&ndash; endbuild &ndash;&gt;-->
<!--</head>-->

<body ng-controller="directives/headerCtrl">

<nav class="navbar navbar-dark navbar-expand-sm navbar-custom">

  <a ng-href="/#/">
    <img src="/images/logo_bp.png" width="60" class="logo-header" alt="{{'logo' | translate }}">
  </a>
  <a class="logo-text" ng-href="/#/">
    VestNet
  </a>

  <input class="test-input" ng-model="valor">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse topnav-right" id="navbarNavDropdown">
    <ul ng-if="valor < 2" class="navbar-nav">
      <!--      <div ng-if="valor < 2">-->
      <li class="nav-item">
        <a class="btn btn-header btn-transp nav-link" ng-href="#/projects">
          <div class="row justify-content-center"><img alt="" class="nav-icon" src="/images/home-icon.png"></div>
        </a>
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <a class="btn btn-header btn-transp dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="row justify-content-center"><img alt="" class="nav-icon" src="/images/user-icon.png"></div>
            <span ng-if="notifications" class="badge bg-danger" style="margin-left: 12px; height: 10px; color: transparent">a</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">

            <div ng-if="valor == 1" ng-repeat="x in eDropdown">
              <a class="dropdown-item" ng-href="/#/{{x}}">{{'h' + x | translate }}</a>
            </div>
            <div ng-if="valor == 0" ng-repeat="x in iDropdown">
              <a class="dropdown-item" ng-href="/#/{{x}}">{{'h' + x | translate }}</a>
            </div>
            <div class="dropdown-divider-header"></div>

            <div ng-if="valor == 1">
              <a class="dropdown-item" ng-href="/#/newProject">{{'hnewProject' | translate }}</a>
              <div class="dropdown-divider-header"></div>
            </div>
            <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal">{{'hlogout' | translate }}</a>
          </div>
        </div>
      </li>
      <!--      </div>-->
    </ul>

    <!--      UNAUTHORIZED-->
    <ul  ng-if="valor == 2" class="navbar-nav">
      <li ng-repeat="x in gOptions" class="nav-item">
        <a class="nav-link header-icon" ng-href="/#/{{x}}">
          <div class="row justify-content-center"><img alt="" class="nav-icon" ng-src="/images/{{gIcons[$index]}}.png"></div>
          <div class="row text-icon">{{'h'+ x | translate }}</div>
        </a>
      </li>
    </ul>

  </div>
</nav>

<!-- Show logout confirmation -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog popup" role="document">
    <div class="modal-content mx-auto my-auto">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{'confLogout' | translate }}
        </h5>
      </div>
      <div class="modal-body">
        {{'confLogoutBody' | translate }}
      </div>
      <div class="modal-footer">
        <div class="row">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            {{'cancel' | translate }}
          </button>
          <a onclick="location.href='/#/logout'" type="button" class="btn btn-success" data-dismiss="modal" style="color: white">
            {{'confirm' | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
